[2020-05-23 15:07] marcosvega91 opened #1 "Add roadmap, either roadmap.md or issues"
Hi @smeijer

thanks for this project :). I want to contribute in some way. Can you create a list of issues with what you think to implement or where you want an hand?
I see that you haven't tested the application, maybe it could be a starting point.

 Thanks :)

Regards
Marcp

[2020-05-23 15:53] smeijer commented on #1
Hi!

Creating a couple of issues that can serve as kind of a roadmap, sounds like a good plan. Thanks :)

The things I had in mind to work on post-release are (in no particular order):

- interactive HTML (Will deployed **SOON**, see #2)
- update readme with dev instructions
- create some instructions for how to use the playground
  - Do we need this?
  - If we do, it should be shown on testing-pl

[2020-05-23 18:44] smeijer opened #5 "add dev instructions to `readme.md`"
We don't have any instructions on how to get the thing started at localhost, or how to contribute. This should be made crystal clear.

[2020-05-23 18:46] smeijer opened #6 "use emoji-key to add contributors to `README.md`"
I have no idea how it works, but I know we need to use emoji-key to list contributors in the readme. I believe contributors deserve to be acknowledged.

[2020-05-23 18:47] smeijer opened #7 "add tests"
A [testing-playground.com] without tests... I don't think that should be a thing, but at this moment it is.

We should fix that, and use jest & testing-library to do it.

[testing-playground.com]: https://testing-playground.com

[2020-05-23 18:48] smeijer opened #8 "usage instructions / help"
Do we need some instructions on how to use the tool? I'm not sure about this yet, but if we do, it should be added to the playground itself. Not just a markdown on Github.

[2020-05-23 18:49] smeijer opened #9 "make it embeddable"
How awesome would it be if we had an embed-mode, so users can embed the playground in the blogs they write about testing / testing-library?

---
Resources:
- https://twitter.com/edouardr_/status/1264474482116354048?s=19

[2020-05-23 18:50] smeijer opened #10 "support `testing-library/user-event`"
I haven't worked out the details, but enabling users to play with  [user-event]s would awesome. Perhaps together with adding support for [HTML mixed mode]?

[HTML mixed mode]: https://codemirror.net/mode/htmlmixed/index.html
[user-event]: https://testing-library.com/docs/ecosystem-user-event

---

inspiration: https://twitter.com/kentcdodds/status/1270919381380284416?s=20

[2020-05-23 18:52] smeijer opened #11 "wrap it in a chrome extension!"
I believe we can wrap this project into a chrome extension. That way people can use the thing on their own sites, without needing to copy / paste html fragments. How awesome would that be?!

---
Resources
- https://twitter.com/kentcdodds/status/1264253036626501632?s=19
- https://twitter.com/SferaDev/status/1264264904258748416?s=19

[2020-05-23 19:07] smeijer commented on #1
I've added a bunch of issues and documented them in [ROADMAP.md](https://github.com/smeijer/testing-playground/blob/master/ROADMAP.md) for easier reading.

All idea's are open for contributions.

[2020-05-23 19:07] #1 closed

[2020-05-23 19:48] marcosvega91 commented on #7
hey @smeijer have you any preference about folder structure, or configuration?

[2020-05-23 19:48] marcosvega91 commented on #11
This is a very great feature

[2020-05-23 19:55] smeijer commented on #7
I usually place my tests next to the files they cover.

Like:

[code]

Test config files (if required), I usually place in  `./test`.

But I'm open to suggestions.

[2020-05-23 19:59] marcosvega91 commented on #7
I usually prefer to separate the things to be clearer but this is a good solution too :)

[2020-05-23 20:52] marcosvega91 commented on #6
Hey for this you can install https://github.com/all-contributors/all-contributors

[2020-05-24 12:23] #6 closed

[2020-05-24 12:24] smeijer commented on #6
Thanks! This worked out quite nice.

[2020-05-24 12:55] smeijer opened #15 "feat: make interface responsive"
I think we can make the interface responsive, for two purposes:

1) I can imagine that people share playground links, with the receiving party opening the playground on their phone. Not to edit, but just to check the results.

2) Having the playground side-by-side on a single monitor with other editing tools makes sense. The current layout is quite wide and limits the efficiency in "split screen"

[2020-05-24 16:03] JacobMGEvans commented on #7
I don't mind making Unit Tests, I would like to try out Cypress using your project, if you are cool with that of course.

[2020-05-24 17:12] marcosvega91 commented on #7
I think that the project need also E2E testing so I think could be ok.

[2020-05-24 17:54] smeijer commented on #7
@JacobMGEvans, go for it 👍 I believe it's great to have those tests.

[2020-05-24 18:27] JacobMGEvans commented on #7
Awesome! On it.

[2020-05-24 21:29] MichaelDeBoey commented on #9
Let me know whenever this is possible, so I can add it as a built-in transformer for [`gatsby-rark-embedder`](https://github.com/MichaelDeBoey/gatsby-remark-embedder) 👊

[2020-05-24 21:41] smeijer commented on #9
@MichaelDeBoey, do you have idea's about how it should look? What kind of functionality you would want in embed mode?

[2020-05-24 21:51] MichaelDeBoey commented on #9
@smeijer If you look at @codesandbox or @CodePen, you see it's always a miniature version of the real app.

They're both providing an [oembed](https://oembed.com/) endpoint, which returns an object with an `html` key that has the embeddable `iframe`.

[2020-05-24 21:59] smeijer commented on #9
Thanks, I have something to read tomorrow :+1:  Never heard of oembed before.

[2020-05-25 08:16] marcosvega91 opened #21 "Sandbox code evaluation / prevent redirections"
Trying to test the parser I see that in the editor you can write everything. There is not check on what you are writing. You can write for example `alert('hello')` or whatever.

I think that we need to parse the string before evaluate it, extracting method and check it is enabled to use.

[2020-05-25 08:34] smeijer commented on #21
Why would that be a problem? Are there security concerns that we need to think about?

The alert example is something I can also do on `codepen` or `jsfiddle`

[2020-05-25 08:51] marcosvega91 commented on #21
Security I think that now is not a problem. I don't know If is correct to enable the user to write what  he wants. I thought that it was a bug.

[2020-05-25 10:44] smeijer commented on #21
I understand your concern, but unless I'm missing something serious, I think that's exactly what we want.

The most serious javascript injection that I'm aware of is about:

 - session hijacking
 - cookie stealing
 - code injection

**Session Hijacking**
We don't have any sessions, or server side, so I'm not worried about this

**Cookie stealing**
We don't have cookies

**Code injection**
Code inj

[2020-05-25 11:36] smeijer commented on #5
closed by #23

[2020-05-25 11:36] #5 closed

[2020-05-25 16:04] smeijer opened #25 "naming things"
I'm working on the embed mode, and realize that this is the time that we need to have proper names for the four areas that we have.

This is my current thought. When we talk about the area's or tabs, a `js-tab` and `html-tab` make sense. I was thinking about `preview-tab` and `result-tab` for the others.

I've also considered `advise-tab`, but as it's also showing errors, and just field informatio

[2020-05-25 16:14] marcosvega91 commented on #25
hey @smeijer. Thanks for asking me an opinion about this project 🥳 .

I agree with preview and result, but I propose `input` and `query` for `html` and `js`.
I propose to use `area` as suffix like `preview-area`. Look at the image below taken from

![image](https://user-images.githubusercontent.com/5365582/82829414-7c4d5980-9eb3-11ea-953a-388e4bdc38d7.png)

[2020-05-25 16:23] timdeschryver commented on #25
I think that's a great idea!
(Personally, I was a bit confused with the advise element as it was also used for the error handling, so I really like these name changes).

I also like the proposals made by @marcosvega91 , I have nothing to add here 😁

Perhaps instead of `input` or `html`, what about `markup`?
Either way, I'm happy with the changes and I don't have a strong opinion, it's definite a s

[2020-05-25 16:25] marcosvega91 commented on #25
I like `markup` 👍

[2020-05-25 16:43] smeijer commented on #25
Awesome. Thanks for the suggestions. I like them :)

To recap, the areas will be named: `markup`, `preview`, `query`, and `result`.?

![image](https://user-images.githubusercontent.com/1196524/82830875-31354580-9eb7-11ea-9a90-416c8843885e.png)

[2020-05-25 17:11] smeijer commented on #15
Closed by #16

[2020-05-25 17:11] #15 closed

[2020-05-25 17:52] smeijer commented on #25
Do you guys also have suggestions if we divide this further in some sub-areas?

I was thinking:

[code]

![image](https://user-images.githubusercontent.com/1196524/82834215-bec96300-9ec0-11ea-933a-64f4c769c66d.png)

An alternative that I've considered:

[code]

![image](https://user-images.githubusercontent.com/1196524/82834350-22ec2700-9ec1-11ea-9da3-691c5283e18d.png)

[2020-05-25 19:04] marcosvega91 commented on #25
I think query editor, query result, suggestion instead of advice and queries :)

[2020-05-26 07:19] smeijer commented on #25
I only don't like the `query result`, as I find it quite confusing with `result`. That area is the result of the query as well.

`query output` maybe?

[2020-05-26 08:32] marcosvega91 commented on #25
yes you are right. I didn't think about it

[2020-05-26 11:46] smeijer opened #29 "turn it into a progressive web app (PWA)"
This would enable offline usage. As the playground already is a single-page app, it shouldn't be that difficult to add?

[2020-05-26 16:59] timdeschryver commented on #25
👍 for query output.

[2020-05-27 08:01] smeijer opened #30 "playground is showing query suggestions when there are none"
I'm not sure what's nice about this one:

![image](https://user-images.githubusercontent.com/1196524/82993415-ce4fc580-a000-11ea-876f-6a1616fb0cea.png)

[playground](https://testing-playground.com/#DwGwhgRgpiAEBmB7ATgXgEQFcDOVkDswBbKdAPgFVcDipgB6caEMoA&MYewdgLghglmCmAnIA)

And I'm not sure what's great about this one either:

![image](https://user-images.githubusercontent.com/1196524/82993450-dad4

[2020-05-27 11:44] smeijer opened #31 "The navbar should be made responsive"
It doesn't look very nice at the moment:

![image](https://user-images.githubusercontent.com/1196524/83015141-3f52a580-a020-11ea-8ec7-9ecf3ec77675.png)

[2020-05-27 19:18] #25 closed

[2020-05-27 19:19] smeijer commented on #25
Thanks for the input guys :) I did a refactoring based on the discussion here. Result will be merged via #26.

[2020-05-27 19:21] smeijer commented on #9
@MichaelDeBoey , embed mode is almost done. But I'm not sure how soon I will have oembed implemented. As that requires a server side (beyond static hosting), I need to figure a few things out.

Maybe it's possible via netlify functions, but I've never worked with those before.

Preview can be seen here: https://codepen.io/smeijer/pen/yLYWZmK

[2020-05-27 21:30] smeijer commented on #9
Been working a bit more on it, I don't think that oembed will be that hard after all :)

[2020-05-27 21:46] MichaelDeBoey commented on #9
@smeijer It really looks nice!
This would be something entirely inside of an `iframe` I think?

[2020-05-28 10:43] smeijer commented on #21
Thinking about this, I think this can be done quite easily.

If we would evaluate the query inside an iframe (maybe just in the preview pane?), the only thing that would be redirected, would be the iframe.

[2020-05-28 10:46] marcosvega91 commented on #21
Now there is no problem. The only strange thing about it is that the `eval` function will evaluate everything but the result is only for the last sentence. So it could be strange

[2020-05-28 12:40] marcosvega91 opened #34 "Add packages"
The project step by step will grow and could have in the next future more packages:

1. site
2. embedded
3. chrome extension
4. devtools extension

We should think to add something similar to [lerna](https://github.com/lerna/lerna) to manage all of them

[2020-05-28 12:52] marcosvega91 commented on #29
I've found this package https://www.npmjs.com/package/parcel-plugin-pwa-manifest

[2020-05-28 13:21] delca85 commented on #30
hey @smeijer I suppose I have found the source of the bugs (at least of one of them).
How do you prefer the playground appears in case of:
1. no element is entered by the user in the first box?
2. no query is entered by the user?

I mean that I would like to know if a box (and what kind of box) appears instead of the _suggested query_ one?
Thanks!

[2020-05-28 13:29] marcosvega91 commented on #30
I think that in both cases we can suggest to the user what he can do with the playground like an 'how to'.

[2020-05-28 14:06] smeijer commented on #9
@MichaelDeBoey , embeddable is done!

We support `oembed` as well as "custom" embed:

The custom embedding can be seen here:

https://codepen.io/smeijer/pen/yLYWZmK?editors=1000

The `oembed` isn't really visible yet, as I don't know of any `oembed` validators that can render the thing without requiring a submission first, but it [passes](https://embed.ly/providers/validate/oembed?endpoint=https%3

[2020-05-28 14:06] #9 closed

[2020-05-28 14:08] smeijer commented on #9
To answer your question, yes, it renders the thing in an `iframe`. It would be possible to render it in a `div` instead though. Would that be preferable?

[2020-05-28 14:12] smeijer commented on #30
A suggestion on what he should do, accompanied by a nice illustration from https://undraw.co/illustrations?

[2020-05-28 14:26] smeijer commented on #29
We already have a manifest, although that plugin looks nice with the icon generation :).

I think that the most time-consuming part of this ticket would be the creation of the service worker.

[2020-05-28 14:28] smeijer commented on #21
True, but we would make it quite difficult for ourselves if we would only execute the last expression.

[code]

[2020-05-28 14:33] marcosvega91 commented on #21
You are right

[2020-05-28 14:41] MichaelDeBoey commented on #9
@smeijer Providing an `iframe` is perfect for me! 👊

I'll check it out later today and I'll let you know if I need some extra info or I think something isn't working like it should be 😉

[2020-05-28 14:42] smeijer commented on #9
Please let me know when you have something working as well :innocent: , can't wait to see it in action.

[2020-05-28 14:43] MichaelDeBoey commented on #9
I've created MichaelDeBoey/gatsby-remark-embedder#123 with the reason to drop it soon 😉

[2020-05-28 16:13] MichaelDeBoey commented on #9
@smeijer If you wanna take a go on it yourself btw, it can be yours 😉

[2020-05-28 16:19] smeijer commented on #9
Do you know how to get [iframely](https://iframely.com/embed) to render the embedded thing?

I know that for [`embed.ly`](http://embed.ly/) we must submit an application. But I can't find anything for iframely.

I can take a look. But don't wait for me if you can do it faster.

[2020-05-28 16:29] MichaelDeBoey commented on #9
I haven't worked with iframely yet, so would have to look it up myself.

I can probably do it faster, but I like to help people getting into the plugin.
So if you want, be my guest 😉

[2020-05-28 17:23] smeijer commented on #9
Not really, I have plenty of other things to do. So if you can do that, it would be much appreciated.

I've just completed the application at embed.ly. Let's see how that goes.

[2020-05-28 17:24] MichaelDeBoey commented on #9
Gonna eat and I'll create a PR for Testing Playground support 🙂

[2020-05-28 18:43] smeijer commented on #9
Support Request is running for iframely.

![image](https://user-images.githubusercontent.com/1196524/83180530-dbb1a080-a123-11ea-82d6-ad81c296fc5b.png)

[2020-05-28 18:54] smeijer opened #54 "add "share" dialog / mode"
The share dialog should allow us to construct the share URL. Let's start with an "embed" preview builder. We currently don't expose any interface to let the user toggle on/off various panes.

I also want to investigate if we can hookup firebase or a hosted Mongo. Preferably a database with a free level. So we can store sessions in a database, and provide a short URL instead of saving state in the

[2020-05-28 19:41] marcosvega91 commented on #54
Firebase can be good for this purpose

[2020-05-28 20:20] #31 closed

[2020-05-28 20:30] smeijer commented on #9
[we're whitelisted on iframely!](https://iframely.com/embed/https%3A%2F%2Ftesting-playground.com%2F%3Fmarkup%3DDwIwrgLhD2B2B8AoANtA5gS1o4B6cUc8QA%26query%3DM4YwTgphB2B0DmEAuAhAngJQPYBsIAoByAIwFckktpCBKIA%26panes%3Dmarkup%2Cquery)

![image](https://user-images.githubusercontent.com/1196524/83190483-c4c67a80-a132-11ea-911b-e8277cb38fed.png)

[2020-05-28 20:31] smeijer opened #57 "docs: update readme, mention iframely support"
[we're whitelisted on iframely!](https://iframely.com/embed/https%3A%2F%2Ftesting-playground.com%2F%3Fmarkup%3DDwIwrgLhD2B2B8AoANtA5gS1o4B6cUc8QA%26query%3DM4YwTgphB2B0DmEAuAhAngJQPYBsIAoByAIwFckktpCBKIA%26panes%3Dmarkup%2Cquery)

![image](https://user-images.githubusercontent.com/1196524/83190483-c4c67a80-a132-11ea-911b-e8277cb38fed.png)

[2020-05-28 20:34] MichaelDeBoey commented on #9
Wooohooo!! 🎉🎉🎉

[2020-05-29 08:58] smeijer opened #64 "Who uses `testing-playground.com`"
Hi everyone!

If you or your company is using or talking about `testing-playground`, please let us know who you are. So we can mention you in the README and forthcoming website.

Instructions:

**Media**
- If it's a blog, video, post, website, awesome tweet, reddit, please share the link.

**Projects**
- Share your project/company name
- Share your logo _(in which case it might be used in the read

[2020-05-29 09:58] smeijer opened #65 "import `testing-library/dom` from npm instead of unpkg"
This comment needs to be fixed:

quoting for issue indexing:

https://github.com/smeijer/testing-playground/blob/958a46b4be8520045908ac1d20de8236e45409f5/src/parser.js#L5-L16

[2020-05-30 13:04] delca85 commented on #30
If it's ok for all of you, I am on it.
Any suggestion about how the short "How to" should appear would be appreciated!

[2020-05-30 13:38] smeijer commented on #30
That would be awesome, I've been playing a bit in dev-tools, how about something like this for "example 2":

![image](https://user-images.githubusercontent.com/1196524/83329729-6bbe2a00-a28b-11ea-9b67-b339564c0e2c.png)

The image used is "Code thinking" from undraw.co, with the color set to `#EDF2F7` and opacity of `.5`

[2020-05-30 13:56] smeijer commented on #65
Actually, I think I've changed my mind.

Fetching it from unpkg gives us an advantage. It will allow us to add an option to switch the version of testing-library that's being used.

@marcosvega91 & @MichaelDeBoey, what do you guys think?

[2020-05-30 14:05] marcosvega91 commented on #65
I like the idea, can be interesting

[2020-05-30 14:22] MichaelDeBoey commented on #65
Being able to switch the version could be helpful to test possible bugs with, but I'm not sure if we should make this available tbh.
I think we should help strive towards pushing the newest version.

[2020-05-30 16:47] marcosvega91 opened #66 "question: why the parse function returns also an id?"
I'm looking at the code, in particular to the parse function.

[code]

Is the id important to the parse function? I looked at the code but I didn't found the place where it is used.

[2020-05-30 20:00] delca85 commented on #30
@smeijer great!!
Maybe, I could add a brief explanation after `I don't know what to say`? Just one or two sentences where I could tell that this is a playground for React Testing Library.
Or would you prefer just the sentence you suggested?

[2020-05-30 20:19] smeijer commented on #21
Got the sandboxing thing working. I'll submit a PR in a couple of days.

[2020-05-30 20:21] smeijer commented on #66
No, I removed it while working on the sandboxing thing (#21). During the prototyping phase, I used it to force rerenders some elements.

Will submit a PR for it soon.

[2020-05-30 20:25] smeijer commented on #30
Sounds good to me. :+1:

[2020-05-31 13:01] smeijer opened #69 "sandbox markup"
Just like #68, we need to create a sandbox for the markup.

Currently, it's possible to add a `<meta http-equiv="refresh" content="1; URL=http://evil.corp">` to the HTML markup, and trigger a full page refresh.

This shouldn't be possible.

We should render the markup in an `iframe` with the proper restrictions. (See #68). It's quite easy to render the markup (with the `srcdoc` attribute). But we

[2020-05-31 13:09] #21 closed

[2020-05-31 13:09] #66 closed

[2020-05-31 18:50] timdeschryver opened #71 "Blank screen"
I was playing around in the playgroud and it seems that when I paste the following, the page goes blank. This might happen after a second, or while switching tabs.

[code]

In the console, I can see this error

[code]

[2020-05-31 18:53] timdeschryver commented on #71
I forgot that we have a shareable link.
I tried to reproduce it, but I wasn't able to.
Going to close this issue for now.

[2020-05-31 18:53] #71 closed

[2020-06-01 21:50] Siemko commented on #65
I hope this helps a bit, in my opinion testing-playground should always aim for the newest version of testing-library. I think it aims to be the guiding light, and we want it to point to the best possible right direction. @MichaelDeBoey here is right.

[2020-06-01 22:01] Siemko commented on #69
Maybe using `dompurify` (https://github.com/cure53/DOMPurify) is the option here? Maybe it's not necessary to use iframe and inject styles?

[2020-06-01 22:21] smeijer commented on #65
Some help in fixing the issue would be most welcome 😇

[2020-06-02 09:41] MichaelDeBoey commented on #69
DOMPurify looks indeed a good option to me 👍

[2020-06-02 09:43] Siemko commented on #65
I'll have a look after my working hours :eyes:

[2020-06-02 20:42] Siemko commented on #69
I gave it a go in #84, works pretty well in my opinion.

[2020-06-02 20:49] smeijer commented on #69
I'm not sure if I can agree with that. Here a quote from my comment at the PR:

[2020-06-02 20:50] smeijer commented on #65
Thanks. That would be awesome!

[2020-06-02 21:05] Siemko commented on #65
This one's nasty. Generally speaking, `parcel` uses `core-js@3` from `@babel/runtime-corejs3` to provide all the polyfills. Of course map polyfill is not a Map, and there is some checking done. I was trying to play with babel configuration, I can change some settings, but it seems like `@babel/runtime-corejs3` is always applied by parcel.

What I know by now:
1. Parcel's not taking `.babelrc` into

[2020-06-02 21:23] smeijer commented on #65
Yeah, what I remember form another project of mine, is that parcel does do something "smart" with browserslists.

I think we need to write a browserslist file to the testing-library folder before build.

Also see here: https://github.com/parcel-bundler/parcel/issues/1655#issuecomment-561139492

If that doesn't work, we have a few options left.

- open an issue at parcel-bunder
- fix the issue in t

[2020-06-03 13:38] delca85 commented on #10
@smeijer what do you mean with "enabling users to play with user-event"? What would you like to enable users to do?

[2020-06-03 15:10] smeijer commented on #10
I was thinking that a user should be able to write mixed HTML in the markup editor. Something like:

[code]

And that would result in a working demo in the HTML preview pane.

Then just like we can currently use `screen.getBy...` methods to test locating elements, we could have `user-event` to let the user click that button, and verify that it worked.

[code]

I think we should then also add a 're

[2020-06-03 18:16] smeijer commented on #69
I've been thinking about this one today. I don't think it will be that hard to realize. My approach would be:

- add a new `/sandbox` route
- make that route render a blank page, with only a `<Scrollable><div id="target" /></Scrollable>`
- update the `Preview` component to render an iframe, targeting `/sandbox`
- add a ref to that iframe, and the proper sandbox attributes (to block `parent`)
- use

[2020-06-03 23:26] ljosberinn opened #87 "Crashes on mousemove"
In this [REPL](https://testing-playground.com/?markup=AQHgRg9gJgnsDGAbAhgZ1QXgESIJYHMALAFwFoBbaAUywD4AoEKXAN3qTUywBUI1iqAJyz1cUbIKrJ4ZYn1TERDEKgAOyAHbsU6bL35CA%2BofKbk%2BIaTmqRCmIirZTAD1IB3McUIAuYAFYANgAGVWcAbmBVCFRcYlwIDV8AM1xnKigIgC9SXA0oKmdfPz8goIio3IFBUioWKg1iVF8NBKoI00F8XN8Q52BkAFc5CIFnMmQ8fESEeqqRiFUe0IjBAhIl8OAHJOINsJEAemU1TW1OPXkq41MNc0trUm3FejsHJ2RXDygvIuDlyOisXi0xSaQywGyuXyhX8JTKAMqllqsy

[2020-06-04 08:51] smeijer opened #91 "invalid suggestion on hover"
When hovering the flag images in this [repl][repl], the preview area suggests a `getByRole` query.

Yet, when we apply that query by clicking the flag, the suggestion pane renders an error:

![image](https://user-images.githubusercontent.com/1196524/83735948-46496b80-a651-11ea-8882-287d7fd0221b.png)

[repl]: https://testing-playground.com/?markup=AQHgRg9gJgnsDGAbAhgZ1QXgESIJYHMALAFwFoBbaAUywD4AoEK

[2020-06-04 09:02] smeijer commented on #87
Thanks for the repl link, that's very helpful!

This bug has been fixed. I did find some other issue while playing with your reply, that one I've filed under #91.

[2020-06-04 09:02] #87 closed

[2020-06-04 16:15] smeijer commented on #65
The issue lies within `aria-query`, but so far I've been unable to get it to work. I've filed an issue in the parcel repo: https://github.com/parcel-bundler/parcel/issues/4692

[2020-06-05 00:13] ljosberinn opened #92 "Add option to copy suggestion to clipboard"
Mayble introduce a setting checkbox that when checked, enables copy-to-clipboard on the `suggested query` box?

![image](https://user-images.githubusercontent.com/29307652/83822684-08405c00-a6d2-11ea-9f27-3bee386867db.png)

[2020-06-05 07:03] smeijer commented on #92
Sounds great! Thanks.

I think we can add a "copy to clipboard" icon, like react-devtools have. Would that work for you?

![image](https://user-images.githubusercontent.com/1196524/83846700-4e65e180-a70b-11ea-8f45-afd0c0248173.png)

[2020-06-05 07:10] smeijer commented on #92
Quick mockup, that would look something like:

![image](https://user-images.githubusercontent.com/1196524/83847021-d5b35500-a70b-11ea-9654-31c01f256731.png)

<details><summary>used svg:</summary>
<p>

[code]

</p>
</details>

[2020-06-05 08:05] ljosberinn commented on #92
Looks great, I'll give it a shot at implementing it this evening. :)

[2020-06-05 12:03] #30 closed

[2020-06-05 13:57] #65 closed

[2020-06-05 16:57] MichaelDeBoey commented on #11
@benmonro created an official one: https://github.com/testing-library/which-query

[2020-06-05 21:41] delca85 commented on #91
The right query here should be an `getByAltText` one, right?
I could give it a shot if you are ok with it.

[2020-06-06 09:01] delca85 commented on #91
According to [official documentation](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#Technical_summary) the suggestion is right, because the img has a non empty alt attribute. So it's the error in the panel the problem. Do you agree?

[2020-06-06 09:05] smeijer commented on #11
That's an official `testing-library` one. I'm also working on a `testing-playground` extension. It will be different, so it might be good to have both. :innocent:

[2020-06-06 09:07] smeijer commented on #91
Yes I agree. The suggestion is right. The error is indeed the problem.

[2020-06-06 09:10] #92 closed

[2020-06-06 10:32] delca85 commented on #91
Ok, if you agree I could try to fix it.

[2020-06-06 10:58] smeijer commented on #91
Sure, go ahead :+1:

[2020-06-06 13:23] delca85 commented on #91
I think I found the bug issue: the suggestion is wrong! This is because of `aria-hidden` is set to `true`. This attribute makes the role not accessible, like explained [here](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-hidden_attribute#Description). So maybe it it is the suggestion that should take care of this attribute value and proposed another

[2020-06-06 13:50] benmonro commented on #11
Cool. What features are you putting into that one?

[2020-06-06 18:34] smeijer commented on #91
Thanks for the research. That makes a lot of sense.

Do you have an idea/suggestion for how we can fix this?

[2020-06-06 19:40] delca85 commented on #91
My idea would be adding a check [before](https://github.com/smeijer/testing-playground/blob/2b2c6fa37879b7a3887f5182cebcaf325335cd82/src/lib/queryAdvise.js#L20) trying to retrieve the element role. The element role will be retrieved only if the `aria-hidden` attribute is not set to true, in case of `aria-hidden` attribute value would be true, the role would be `undefined`.

This is my idea but any

[2020-06-06 21:04] smeijer commented on #91
Sounds good to me. Can you create a PR?

[2020-06-06 21:34] delca85 commented on #91
I am going to create the PR with this bug fix but I have now noticed that there is another misleading behavior (or a behavior I am not sure to understand).
In `PreviewHint` the `accessibleRoles` are shown and these roles are retrieved using [`getRoles`](https://github.com/smeijer/testing-playground/blob/2b2c6fa37879b7a3887f5182cebcaf325335cd82/src/parser.js#L206) by [@testing-library/dom](https://

[2020-06-06 21:47] smeijer commented on #91
I think we can fix that issue by iterating over the `getRoles` result, and checking the elements with `isInaccessible`? Filter out those elements that are inaccessible. And if non of the elements under a role are accessible, remove that role from the list?

[2020-06-07 09:50] delca85 commented on #91
I was wrong, `getRoles` already [discriminates](https://github.com/eps1lon/dom-testing-library/blob/2a366f8f52b137d6222d26f0106e69230b702e12/src/role-helpers.js#L121) inaccessible roles so we don't need to add any logic.

[2020-06-07 18:37] smeijer commented on #91
fixed by #104

[2020-06-07 18:37] #91 closed

[2020-06-07 18:51] smeijer commented on #11
@benmonro , how about a preview? :sunglasses:

https://twitter.com/meijer_s/status/1269703405150314498?s=20

[2020-06-07 20:54] benmonro commented on #11
That's cool!  It does feel like we should combine them into one extension though.  Just my 2 cents

[2020-06-07 21:10] MichaelDeBoey commented on #11
@smeijer Yours looks more like some sort of devtools & @benmonro's is more like a context menu plugin.

II think combining them into 1 thing seems indeed a good idea 🙂

[2020-06-07 21:14] benmonro commented on #11
Yeah mine also has an elements inspector panel and adds things to the console.  Would definitely love to combine forces on this.  I think it'd be best for the community imo

[2020-06-07 21:27] benmonro commented on #11
@smeijer i can make you admin on that repo in case that's a concern.  Let me know how we can come together on this. My goal is just to make the best experience for everyone and avoid fragmenting

[2020-06-07 21:33] smeijer commented on #11
No worries. Let me wrap this thing up, and see where we can meet.

The biggest concern that I have with being an "official extension" isn't about being an admin or not. It's about the limitations.

In my opinion, the official one should stick to the strict recommendations. While an unofficial extension, can provide some fallback queries. Less perfect, but still workable. (`document.querySelector('

[2020-06-07 21:42] benmonro commented on #11
That's fair.  How would you feel if I integrated some of what you've done into the official one?  I was wanting to add a devtool page and what you have here is perfect....

[2020-06-07 21:54] smeijer commented on #11
About which parts are you thinking specifically? Just functionality / code? Or also the look and feel of testing-playground.com?

If you tell me your plans with which-query, I might submit a PR once this one is done. But having two identical extensions doesn't make a lot of sense.

I've also added a pane to the element inspector. That's where my work in this extension started. But I moved to a ded

[2020-06-07 21:59] benmonro commented on #11
Yeah my plan was to build something very similar to what you have.  Perhaps just the suggestion part.  The goal if which query is to improve the a11y of the tests through the queries so I probably would leave the bottom half out (though if you want to combine them into one extension I'd be fine keeping it)

[2020-06-08 10:18] smeijer commented on #11
I've checked out `which-query`, and it looks like I've got all the functionality ready that `which-query` has, except I offer more.

The only thing that I haven't implemented, is a context menu. Would it not make more sense to merge that functionality in the testing-playground extension?

To answer your question:

To be honest, I wouldn't be thrilled. I've been working hard on this project. And en

[2020-06-08 10:27] benmonro commented on #11
Kind of bummed to hear that.  I also worked hard on which query and shared my ideas and progress with you the whole way.  Was really hoping we could Come together for the sake of community but hey it's your decision.

[2020-06-08 10:47] delca85 commented on #10
Hey!
I could give it a shot. I don't know if I will be able to accomplish the whole task by myself, if I'll face some blocking problem I will share it!

[2020-06-08 12:14] smeijer commented on #11
I understand. And I appreciate the work you've done by implementing the query suggestions from testing-playground into the core of testing-library. I also like that testing-playground has [inspired you](https://twitter.com/benmonro/status/1264549790181756928) to turn `which-query` into an extension (instead of the query suggestions lib).

I still believe it's possible to come together. As I said e

[2020-06-08 16:10] smeijer opened #112 "use the official testing-lib getSuggestedQuery for query advise"
Now that `@testing-library/dom` has adopted the query suggestions, and added it to its core, we can use the exported `getSuggestedQuery` method to ensure that we are on the same page as the official lib.

[code]

For this to work, we need to upgrade `@testing-library/dom` to `7.11.0` (or higher), to include the changes from https://github.com/testing-library/dom-testing-library/pull/608

[2020-06-08 20:26] smeijer opened #115 "choosing a logo / mascot"
The current play icon isn't really awesome. I just needed something, and I needed it fast.

Let's change it. I have a few options that look interesting. Please feel free to comment if you have a strong opinion about one or another. Or just want to share your personal favorite.

![image](https://user-images.githubusercontent.com/1196524/84076898-d6334080-a9d6-11ea-940f-b7d4b9955ca6.png)
'

[2020-06-09 08:24] smeijer commented on #115
I've slept on it, and I have 2 favorites:

1) :squid: Squid

    **pro**: It's the same animal class as the :octopus: from Testing-Library.
    **con**: Looking at the small variant, I can't see what it is. Also, the octopus was a ["random selection"][tweet].

2) :test_tube: Test Tube

    **pro**: It's a better description of the product. It's about testing, in an isolated environment.
    **con*

[2020-06-09 09:44] #115 closed

[2020-06-09 09:51] #112 closed

[2020-06-09 18:27] Siemko commented on #54
I like the idea, I can start working on that at the weekend. I agree that Firebase is good for this purpose. @smeijer should I set it up?

[2020-06-09 18:32] smeijer commented on #54
Sounds great @Siemko!

[2020-06-09 20:10] smeijer opened #125 "add a issue and pr template"
We should have some templates here.

Issues:
- should have a link to a playground in case there is a behavior bug
- a hint to check if the bug also exists on http://develop.testing-playground.com/

Pull requests:
 - ?

[2020-06-09 21:46] delca85 commented on #10
Hi @smeijer!
I am working on this feature and I have a major question: according to you, which is the right way to make the HTML preview panel responds to `user-event` fired events?
I hope I am explaining myself but I don't see a straight solution to make the code be updated after the event is fired so I don't know if you suppose to catch the event and manually change the element state or if there

[2020-06-09 21:56] smeijer commented on #10
Hi @delca85!

What do you have so far? Do you have the mixed html working in code mirror? Does that result in an interactive html preview?

For example, can the user create a button, wich displays an alert on click? I think this is step 1.

Once that's done, (which could be merged individually), we can figure out how to use events.

I think that applying the events isn't the complicated part. The

[2020-06-10 07:09] delca85 commented on #10
I have added the html mixed mode with CodeMirror and set it as mode in `MarkupEditor`. I haven't worked yet with nested mode, while it should be used for html mixed as told in CodeMirror [manual](https://codemirror.net/doc/manual.html).
Anyway I am not sure I am deeply understanding the point, because this kind of code:
[code]
is already working in current playground version. I am sure I am missin

[2020-06-10 07:35] smeijer commented on #10
I don't even know what it is :sweat_smile:, do we need it? What does it do?

My bad, that example works. This one doesn't. Should itwork? Can it work?

[code]

[2020-06-10 08:16] delca85 commented on #10
:D
I suppose that it should work but I need to investigate more! I am going to do it today.

[2020-06-10 09:01] delca85 commented on #10
The code indentation and styling is working but I need to investigate a little more to make it working in Preview panel.

[2020-06-10 09:10] smeijer commented on #10
We're setting the html with `dangerouslySetInnerHTML`, I think react doesn't evaluate the `scripts`.

Most easy solution that comes to mind, is to extract script elements from the HTML with a regex. Inject the HTML without those script elements. And `eval` those scripts after the HTML is injected.

[2020-06-10 09:11] delca85 commented on #10
I am reaching exactly the same idea.

[2020-06-10 09:39] delca85 commented on #10
I tried an initial implementation with eval and it's working! I am going to clean it a bit. When it will be ready I could push this initial code and start workin on `user-event` support like you told yesterday.

[2020-06-10 09:57] smeijer commented on #10
That sounds great :+1:  Thanks.

[2020-06-11 14:05] smeijer commented on #10
https://twitter.com/kentcdodds/status/1270919381380284416?s=20

[2020-06-11 14:42] smeijer opened #133 "add an menu with a few markup presets"
This would enable users to play with different cases in an easy way.

Think of:

- a signup form
- a payment form
- a modal with a form embedded
- select boxes
- todo list

More?

[2020-06-11 14:48] smeijer opened #134 "fix: use `getSuggestedQuery` from `@testing-library/dom`"
#113 already implemented this partially. But I noticed that it isn't applied yet in the `ResultSuggestions` component (the blue buttons on the bottom left)

![suggestions](https://user-images.githubusercontent.com/1196524/84401165-3dcdd380-ac03-11ea-8815-f56138ce9bd1.gif)

[2020-06-11 21:56] delca85 commented on #10
It sounds awesomely useful to apply events!

[2020-06-12 01:50] ljosberinn opened #135 "[seo] meta tags, especially open graph"
![image](https://user-images.githubusercontent.com/29307652/84456150-929f3780-ac5f-11ea-8ef7-f523463e40c3.png)

^ that's how testing-playground is currently getting rendered on Discord (and thus presumably also Facebook, Whatsapp, Twitter, whatever).

Could add the newly chosen logo and the repo description `Simple and complete DOM testing playground that encourage good testing practices.` so most

[2020-06-12 07:03] smeijer commented on #10
Yeah, I think we can do something with it. We should figure out how exactly, to make it usefull for more than the development of `user-event` itself, but I can see the value of debugging events orders.

[2020-06-12 15:42] ljosberinn opened #142 "Webmanifest icon links are invalid"
Looks like during build, Parcel prefixes the urls in there with `../public/<img>` (which isnt even valid in the first place as they are placed on the top level) but also does not attach the correct hashes.

![image](https://user-images.githubusercontent.com/29307652/84520538-03803700-acd4-11ea-83e2-66880999cb61.png)
![image](https://user-images.githubusercontent.com/29307652/84520560-09761800-acd4

[2020-06-12 16:17] ljosberinn commented on #142
Interestingly, it works on deploy previews:
![image](https://user-images.githubusercontent.com/29307652/84523681-0598c480-acd9-11ea-910c-d4cca1c02ae6.png)

[2020-06-12 18:21] smeijer commented on #142
Has already been fixed. Let me update production :)

[2020-06-12 18:26] smeijer commented on #142
Should be fixed now.

[2020-06-12 18:26] #142 closed

[2020-06-12 18:27] smeijer commented on #142
Yeah, I've disabled the option to deploy every PR to production at the moment, because we have moments that we are merging quite a lot.

Might enable it again pretty soon. But for this moment, I think it's better to deploy after a couple of PR's.

[2020-06-12 20:54] delca85 commented on #10
According to you, one possible way could be dispatching an event for each `user-event` query found? Should those queries and their args be caught through regex?

[2020-06-13 05:48] kentcdodds opened #146 "Move to testing library org?"
Hi @smeijer,

This is amazing work! It's awesome. I'd like to invite you to officially join the testing library maintainers within the testing library GitHub org. This is totally up to you. If you'd prefer to keep it under your username that's fine. The benefit of moving it to the org is that it makes the project more official and contributions and collaborations are more plentiful.

Let me know,

[2020-06-13 07:52] smeijer commented on #146
Hi @kentcdodds!

Thanks. This means a lot!

I'll reach out to you later today, for some questions regarding on how being part of such a big family works.

This is very exciting to me. I've never expected this project to take of so fast.

Thanks again! Much appreciated. 😊

[2020-06-13 08:31] delca85 commented on #10
Sorry, you are totally right.

The issue I was speaking about is applied the events to the markup inserted by the user.
Like I told some comments ago, I don't have a precise idea about which is the right way to do that.
Looking at the code I have supposed that one flow could be:

1. get the `user-event` method inserted by the user and its args through a regex
2. create and dispatch an event accord

[2020-06-13 11:44] marcosvega91 commented on #134
I'll fix it :)

[2020-06-13 13:40] smeijer commented on #134
Wait for this one: https://github.com/testing-library/dom-testing-library/pull/627 :innocent:

[2020-06-13 13:52] smeijer commented on #146
@kentcdodds I couldn't find a way to contact you in person, so I've send an email to your github public email. Not sure if you read that account, so I thought I let you know.

[2020-06-13 13:56] marcosvega91 commented on #146
I think that you can eventually contact him on his  discord

[2020-06-13 13:57] smeijer commented on #146
I tried. Direct message is disabled

[2020-06-13 14:02] smeijer commented on #134
Well, you didn't need to wait long. 😁🎉

[2020-06-13 14:03] kentcdodds commented on #146
The email is fine. Will respond as soon as I'm able. Thanks!

[2020-06-13 14:09] marcosvega91 commented on #134
Hahahaha ok. I'll update the library and fix the code

[2020-06-13 14:39] smeijer opened #149 "Optimize query suggestions for smaller screens"
We need to improve the layout for the 11" MacBook air .

[2020-06-13 15:54] marcosvega91 commented on #134
Do you have any idea how to solve problem with `contentWindow` that is null? When I call `getSuggestedQuery` I have an error because the element is inaccessible.
The target element is taken from `iFrame`. We need a way to replace it with the one from `Preview` component. Do you have any idea?

[2020-06-13 16:57] smeijer commented on #134
I think we shouldn't be taking it from the iframe. Instead, we can create an in memory div, and simulate the environment there.

The element can be selected with the cssPath.

(from my phone)

[code]

[2020-06-13 17:14] smeijer commented on #54
@Siemko, I hope you haven't put a lot of time in the firebase part already.

If we use github authentication, we can use the gist api to store snippets. That means that we have unlimited free storage. Free version management. And easy authentication.

That sounds like an better option to me. What do you think?

[2020-06-13 17:17] Siemko commented on #54
Don't mention it, I only did some initial setup, so no hard feelings! :innocent:

GitHub OAuth sounds good to me, I haven't integrated with gists API yet, so that could be a nice challenge! I will have a look at that, you can assign me to that issue, I'm happy to build that integration. :muscle:

[2020-06-13 17:49] smeijer commented on #54
Awesome! I'll create an issue for that with a better description in a couple of minutes.

[2020-06-13 18:13] smeijer opened #151 "Set up GitHub Authentication"
We need an option to `Login with GitHub`.

In case we need to specify permission, we need to have "read/write" access to GitHub gists (API).

---
note: _This issue is part of a number of different issues, together they'll make sense_

[2020-06-13 18:17] Siemko commented on #151
On it :)

[2020-06-13 18:31] smeijer opened #152 "Add explicit "save" option"
The `save` action, should write the state to a github gist.

I just learned that this is how ASTExplorer does it, and it turns out that it works quite amazing.

For example, take the astexplorer instance:

[code]

The files that we save can be a `source.html` with the html, an `source.js` with the query, and an `playground.json` for future usage.

If the user is authenticated, we will write the st

[2020-06-13 18:45] smeijer opened #153 "Remove state from url"
Once #151, #152 and #54 are completed, we might be able to remove the state from the url.

[2020-06-13 19:13] #135 closed

[2020-06-13 19:31] smeijer commented on #133
Can be build on top of #152, just add a couple of gist ids 🙂

[2020-06-13 20:16] marcosvega91 commented on #149
I think that we can show a column with all suggested queries. What do you think?

[2020-06-13 20:59] smeijer commented on #149
I'm not sure if I understand what you describe. Can you make a quick sketch in https://excalidraw.com?

[2020-06-13 21:07] marcosvega91 commented on #149
like this
![image](https://user-images.githubusercontent.com/5365582/84579003-ac10c280-adca-11ea-96f2-70e5fa47e347.png)

[2020-06-13 21:14] smeijer commented on #149
I'm afraid that that won't help much. The problem is especially in the height of the screen.

![20200613_231242__01](https://user-images.githubusercontent.com/1196524/84579103-81733980-adcb-11ea-8b58-90617b76a166.jpg)

[2020-06-13 21:47] smeijer commented on #146
Update; this is going to happen! 🎉😎

[2020-06-13 23:56] kentcdodds commented on #146
Alright, you've been added to the org and to a team called "Testing Playground". You have "owner" status on that team so you should be good to go. Let me know if you have any trouble. Thanks and welcome to the team!

[2020-06-14 07:50] smeijer commented on #146
# The :frog: has left the building!

Thanks @kentcdodds. For the invite, the input, and all the kind words.

[2020-06-14 07:50] #146 closed

[2020-06-14 15:03] smeijer commented on #11
Closed by #145

[2020-06-14 15:03] #11 closed

[2020-06-14 20:39] delca85 commented on #10
Hi @smeijer! If it sounds good to you, I am going to keep on with this issue.
Like you know, there is an opened [PR](https://github.com/testing-library/dom-testing-library/pull/616) that will merge `@testing-library/user-event` into `@testing-library/dom`. However I think that I could work anyway on supporting `user-event` in Testing Playground because where it is located doesn't matter too much.

[2020-06-14 20:43] smeijer commented on #10
Sure! The migration will (mostly) be backwards compatible. So I don't see why we should wait on user-event being merged.

I expect that once they're merged, we can quite easily migrate/upgrade the references.

[2020-06-14 20:52] delca85 commented on #10
I expect the same!

Some days ago you told me that according to you applying the event to the markup shouldn't be so hard. Could you maybe share some of your thoughts with me (when you have some free time, obviously!)?

The idea I have about it is the one I exposed [here](https://github.com/testing-library/testing-playground/issues/10#issuecomment-643591326) but I would be very happy to know what

[2020-06-14 21:09] smeijer commented on #10
I think that as soon as you add the user-event methods to the sandbox context, it will already work.

When you would than copy/paste a query that includes an user event, you would see the updated preview.

That means, we only need to add a "toggle" to the Preview, to toggle between initial markup, and resulting state.

This should work out of the box, if the preview just reruns the entire query on

[2020-06-15 08:37] MichaelDeBoey commented on #153
Is this going to impact [`gatsby-remark-embedder`](https://github.com/MichaelDeBoey/gatsby-remark-embedder) in any way? 🤔

https://github.com/MichaelDeBoey/gatsby-remark-embedder/pull/124

[2020-06-15 08:47] smeijer commented on #153
No, an explicit share button will be added in #54. Just copy/paste the URL from there.

We'll make sure that we are backwards compatible.

[2020-06-15 09:22] marcosvega91 commented on #29
@smeijer I think we can close this right?

[2020-06-15 09:23] smeijer commented on #29
Closed by #80

[2020-06-15 09:23] #29 closed

[2020-06-15 09:26] smeijer commented on #7
Closing this one. The test setup was added by #12, and the individual tests will be an ongoing issue.

[2020-06-15 09:26] #7 closed

[2020-06-15 13:24] MichaelDeBoey commented on #151
Will this mean, you can't use the playground anymore without authentication? 🤔

[2020-06-15 13:32] Siemko commented on #151
No, authentication is optional.

[2020-06-15 13:43] MichaelDeBoey commented on #54
If we're using GitHub OAuth, will this mean you can't share the playground without authentication? 🤔

[2020-06-15 14:23] timkindberg opened #158 "Some questions about recommended queries"
Seems like overkill to use regex for recommended queries. Is that really what we want to propagate as the recommended pattern?

So for example the playground recommends:
[code]

But why not this simpler option?
[code]

Additionally maybe it's just me but I think:
[code]
is written more from a "user perspective" than:
[code]

We just have to be careful, because folks are going to take your recommen

[2020-06-15 14:42] MichaelDeBoey commented on #158
All queries are recommended like it's described in ["Which query should I use?"](https://testing-library.com/docs/guide-which-query)

[2020-06-15 14:43] hmbrg opened #159 "Please add a license"
Please provide a license for testing-playground.

Thanks!

[2020-06-15 17:19] timkindberg commented on #158
@MichaelDeBoey Ah ok, I see. @kentcdodds what are your thoughts on what I'm asking?? Do you find that the regex with the `/i` tends to be fine?

[2020-06-15 17:25] marcosvega91 commented on #158
The reason why it is used the regex instead of the string is because when you find an element is not important the case. So with regex you can search for:
1) screen.getByRole('button', { name: /signup/i })
2) screen.getByRole('button', { name: /Signup/i })
3) screen.getByRole('button', { name: /SIGNUP/i })

with the same result

[2020-06-15 17:45] smeijer commented on #158
Basically what @marcosvega91 says 😊

At the end, a case sensitive query is fine. But we do recommend to use a case insensitive query because in 99% of all cases, it doesn't make sense to let your test fail due to changes in casing.

In other words, most of the times, the functioning of a button with a label `Send` will not change when the label changes to `send`.

I'm even willing so say that if t

[2020-06-15 17:55] timkindberg commented on #158
I get that, but it seems like we are getting just a tad farther away from "How a user would look for it".

I guess it's a bit safer for if/when the label casing might change, but if we want the test to break if the word is changed from "Signup" to "Create Account" I think it should also break from "Signup" to "signup".

I realize this is super pedantic. :) But this pedantry is why react-testing-li

[2020-06-15 18:34] kentcdodds commented on #158
[lol](https://twitter.com/kentcdodds/status/1271794480807460864)

I justify the reasoning for the priority order in both the docs @MichaelDeBoey mentioned as well as in [Common mistakes with React Testing Library](https://kentcdodds.com/blog/common-mistakes-with-react-testing-library). We need to think about things from the terms of confidence.

Here's a quick example:

[code]

This will work with

[2020-06-15 20:22] Siemko commented on #151
An update from me: I prepared most of the feature, I need to prepare a lambda to  get Bearer and it will be done. I had some family issues, so it will be ready by Wednesday.

[2020-06-15 20:28] delca85 commented on #10
Hi!
Injecting `user-event` methods doesn't work exactly out of the box (but it isn't as difficult as I expected :D).
After adding `user-event` to the `evaluator` [context](https://github.com/testing-library/testing-playground/blob/85c240c9d021ce588668fe6aa20854f80dd2d4f3/src/parser.js#L88), I have retrieved the markup produced by the [evaluation](https://github.com/testing-library/testing-playgrou

[2020-06-15 20:35] smeijer commented on #10
I think the trick is in the execution order of the scripts. First evaluate all scripts that have been extracted from the markup. And only after that, apply the queries.

[2020-06-15 20:39] smeijer commented on #54
No, it won't. Unauthenticated access will stay possible.

Authenticated users will just have some additional benefits (saving/loading playgrounds)

[2020-06-15 20:42] smeijer commented on #151
Take your time @Siemko! Family first.

[2020-06-15 21:43] #159 closed

[2020-06-15 21:45] smeijer commented on #159
Thanks for bringing this to our attention. I've added the MIT license file.

[2020-06-16 01:56] JacobMGEvans opened #161 "Application Crash On CodeMirror Clear"
#### Issue description

#### Steps to reproduce the issue

1.  Select All HTML in First Code Mirror Block
2. Clear (backspace)
3. White Screen with console errors (screenshot)

#### What's the expected result?
Clearing the codemirror completely allows me to add in HTML afterward. Cleared codemirror doesn't crash the application.

#### What's the actual result?
Application crashes, production fatal

[2020-06-16 03:39] connorProgrammes commented on #149
Hi @smeijer I have an 11" MacBook and I have uploaded a gif to show the issue. It seems the scrollbar is a little too small, what if we made the overflow apart of the whole query section instead of only half the query section?

I would love to try and take a stab at it if that seems like a potential solution!

P.S I think this is such an awesome app!

![testing_library_scroll](https://user-images.

[2020-06-16 05:57] marcosvega91 commented on #161
Hi @JacobMGEvans thanks for the report.
I think that this diff should be good to fix this issue and to return a better object when `markup` or `query` are not valid. What do you think? Do you wanna work on it? 😄

I think that with this fix we should add some tests to `parse` function.

[code]

[2020-06-16 06:04] smeijer commented on #149
Hi @connorProgrammes!

Moving the scrollbars to wrap the suggestion as well, sounds like a fine solution.

I would be awesome, if you can spent some time on this, and open a pull-request. 👍

[2020-06-16 11:15] delca85 commented on #10
Hey @smeijer !
I have achieved the result of executing scripts through `user-event` methods. To accomplish that I added the scripts evaluation even in [runInSandbox](https://github.com/testing-library/testing-playground/blob/494255a42111d2098f470c97ed4628614d714933/src/parser.js#L216) in parser.
I haven't a clear idea about how to do that when the html is executed in [unsafe](https://github.com/te

[2020-06-16 13:13] delca85 commented on #10
Now it is working like in [this](https://streamable.com/w1u6h3) video.
I am going to add a toggle button but I am not so sure where it should be located.
Another thing to be handled is the message shown in `ResultSuggestion` that in my opinion shouldn't be the same received by a user who hasn't entered any query.

[2020-06-16 13:55] JacobMGEvans commented on #161
yeah, I can take it up! Thanks for the diff too!!

[2020-06-16 14:03] marcosvega91 commented on #161
Thanks to you for your time 🥳

[2020-06-16 14:16] #125 closed

[2020-06-16 14:29] smeijer opened #171 "feat: add filter options to event debugger"
It should be possible to filter events in the event debugger (under `/events`, introduced by #167). This way the event log will be less noisy, so it would become easier to extract the data of interest.

To fix this, we can add "dropdown" menu's to the `type` and `name` columns, which will allow to enable/disable specific types.

By default, the following events should be filtered out:

[code]

[2020-06-16 14:32] smeijer opened #172 "add a way to switch between `query` and `events` mode"
## Summary 💡

#167 added an `/event` route, yet there is no way to come there without knowing the route name. We should add a user accessible way to change mode.

## Examples 🌈

Not sure how. Add a route to the nav bar? Add mode buttons to the bottom segment?

## Motivation 🔦

Without it, users won't know that it exists.

[2020-06-16 14:36] smeijer opened #173 "event log should be inversed"
## Summary 💡
The event log (added by #167) currently adds new events on the top. This is so they will be visible without scrolling.

It would be better if we could make the scrollbars stick to the bottom, and add new events to the bottom instead of the top.

## Examples 🌈
Every single chat app.

## Motivation 🔦
Reading from top to bottom is easier for the brain.

[2020-06-16 15:27] smeijer commented on #10
I'm not sure if that's a bug. Why do you think it is?

Regarding the rest of the comments. I have no idea. Maybe it's easier to commit what you have, and open a pull-request in Draft state? That way we can talk while looking at code. Without the code, it's really hard to get a picture of what you're trying to explain.

I, for example, do not understand why it would be hard to do the same in `unsaf

[2020-06-16 15:53] connorProgrammes commented on #149
@smeijer Awesome! I will begin working on this later tonight and open a pull request 👍

[2020-06-16 17:04] smeijer opened #175 "Chrome Extension permissions needs to be fixed for approval"
The chrome extension was rejected due to:

Request access to the narrowest permissions necessary to implement your Product’s features or services. If more than one permission could be used to implement a feature, you must request those with the least access to data or functionality.

All help would be appreciated!

[2020-06-16 17:42] delca85 commented on #10
Yes, sorry for the loss of time.
I have just created a PR.

I am thinking this because an `evaluator.exec` method doesn't seem to exist to me, while an `exec` method is returned by the `[createEvaluator](https://github.com/testing-library/testing-playground/blob/494255a42111d2098f470c97ed4628614d714933/src/parser.js#L87)` method.

The problem in unsafe mode isn't the execution of the `user-event`

[2020-06-16 20:15] smeijer commented on #10
Ok. That sounds like an acceptable loss for me, as long as we document it in the code.

The `unsafe` is used for the chrome extension (and soon plugin). We don't have something like "user scripts" there, because all those scripts are already evaluated in the `document` (chrome tab) before our parser runs.

[2020-06-16 20:21] delca85 commented on #10
Sorry but I am not sure to understand, the loss you are talking about is the missing evaluation of "use scripts"?

If I got your words properly this is not needed in `unsafe` mode.

[2020-06-16 20:23] delca85 commented on #10
I am thinking this because an evaluator.exec method doesn't seem to exist to me, while an `exec` method is returned by the [createEvaluator](https://github.com/testing-library/testing-playground/blob/494255a42111d2098f470c97ed4628614d714933/src/parser.js#L87) method.

[2020-06-16 20:55] AmySteam commented on #175
Hi there, I have been helping chrome developers pass the chrome web store review process, and after looking at your code, you actually don't need activeTab.

The activeTab permission gives an extension temporary access to the currently active tab when the user **invokes** the extension. For example with the following actions
[Invoking activeTab](https://developer.chrome.com/extensions/activeTab#in

[2020-06-17 03:24] connorProgrammes opened #180 "ReadMe Contributing Section has wrong getting started commands"
## Bug Report 🐛

<img width="963" alt="Screen Shot 2020-06-16 at 8 20 22 PM" src="https://user-images.githubusercontent.com/66570218/84851399-fd10f880-b00e-11ea-8f6d-fea7582a6eb8.png">

As far as I can tell this seems like a bug as there is no command for just `npm ci`

## Suggested solution 🔦
I believe this is supposed to be `npm run ci:test`?

I am happy to fix this if this is what is intended t

[2020-06-17 06:44] delca85 commented on #180
Hi @connorProgrammes !

Thanks for the comment.
Actually `[npm ci](https://docs.npmjs.com/cli/ci.html)` is a command offered by `npm` so it must not be entered in `package.json`.

[2020-06-17 07:31] smeijer opened #183 "[DX] newly used classnames are not "hot reload" compatible"
## Bug Report 🐛
When running playground in dev mode (`npm run start`), newly added classnames are not automatically added to the bundle. A full restart of the node process is required. (<kbd>ctrl</kbd> + <kbd>c</kbd> -> `npm run start`) for the classname to be picked up.

## To Reproduce ✔️

attempt 1

1. `npm run start`
2. add a class to an element that isn't used anywhere, ex: `bg-pink-600`
3. w

[2020-06-17 08:36] marcosvega91 opened #185 "add a way to add listener only to some nodes"
## Summary 💡

We should add event listeners to only some elements if a data attribute is used in markup

## Examples 🌈

as suggested by Kent we can lister for a `[data-listen-only]` attribute. If some elements have this attribute we could attach event listener only on those elements.

## Motivation 🔦

Because the user can be interested only on some elements

[2020-06-17 09:48] #134 closed

[2020-06-17 11:37] marcosvega91 commented on #185
My idea is to do something similar
[code]
I'm worried about performance issue of retrieving every time the node.
@smeijer What do you think?

[2020-06-17 11:47] smeijer commented on #185
@marcosvega91, I think it makes sense to add this to #171.

The way that I see it, is that there is no difference in filtering on `Event` or on `Target`.

We need to think of a way to make the element selections, but I would prefer to have it be done in a visual way, and not with attributes.

The reasoning for that is, that attributes will not work when using devtools. They'll require the develope

[2020-06-17 11:51] marcosvega91 commented on #185
Yes right I didn't think about devtools. Ok I'll close this

[2020-06-17 11:51] #185 closed

[2020-06-17 11:54] smeijer commented on #180
@connorProgrammes, I'm closing this one, as it's not an issue with the code. The explanation of @delca85 is spot on!

If you still have any questions, please feel free to let us know.

[2020-06-17 11:54] #180 closed

[2020-06-17 13:19] delca85 commented on #10
Hi!
I am a bit stuck with the execution of `user-event` queries.
Right now, with the code I pushed in #176 , I am not able to retrieve the code produced after the execution of `user-event` methods that changes the `value` prop on an HTML element (e.g. [clear](https://github.com/testing-library/user-event#clearelement), [selectOptions](https://github.com/testing-library/user-event#selectoptionselem

[2020-06-17 13:29] #173 closed

[2020-06-17 20:18] delca85 commented on #171
If it sounds good to all you I could go with this one.

[2020-06-17 20:33] #161 closed

[2020-06-18 04:44] connorProgrammes opened #192 "Testing Playground crashes when all content in `MarkDownEditor` is erased"
## Bug Report 🐛

## To Reproduce ✔️

When erasing all content from the `MarkUpEditor` the whole page crashes. I have provided both a GIF and a stack trace below to further explain
**GIF**

![playground_bug](https://user-images.githubusercontent.com/66570218/84978871-dfad5e80-b0e2-11ea-8ed4-62b6d09a2a29.gif)

**Stack Trace**

<img width="437" alt="Screen Shot 2020-06-17 at 9 39 34 PM" src="https://

[2020-06-18 05:18] marcosvega91 commented on #192
Hi @connorProgrammes thanks for opening the issue 😄

This issue was solved in a previous commit, if you go [next-version](https://develop.testing-playground.com), the bug is not present. Have you updated your develop branch with upstream?

[2020-06-18 08:20] smeijer commented on #192
I've updated production as well. Thanks for the report :+1:

[2020-06-18 08:20] #192 closed

[2020-06-18 16:08] ljosberinn opened #196 "Autoformat pasted HTML"
## Bug Report 🐛

Pasting HTML into the top left window does not automatically format it. Reloading formats it however. Would be nice if this could be done instantly or on blur.

## To Reproduce ✔️

Just paste any (valid) unformatted HTML into the top left window.

## Expected behavior 🤔

Formatting is applied either instantly or on blur.

## Suggested solution 🔦

## Your Environment 💻

- _browser_

[2020-06-18 21:20] #196 closed

[2020-06-19 08:08] #183 closed

[2020-06-21 17:57] smeijer commented on #175
Thanks @AmySteam!

Your explanation has been helpful. I don't understand a thing about the ActiveTab, and I'm confused that the extension works without either the `<all_urls>` or the `ActiveTab` permission. It makes me wonder why so many extensions request them (and still pass the review process).

I've resubmitted the extension with the permissions as below.

The content script still triggered a

[2020-06-22 01:09] AmySteam commented on #175
On the content script matches, do you really need all urls? This includes the file:/// schema.
If they reject it again, you might want to limit it to https:// and http://.

Hope your extension gets published!
Amy
[Chrome Extension Tutorial Channel](https://www.youtube.com/channel/UCVj3dGw75v8aHFYD6CL1tFg/)

[2020-06-22 06:56] smeijer commented on #175
I thought about that. But if we limit those urls, we are limiting the options the developers have. I hope we don't need to go that way.

[2020-06-23 17:18] smeijer opened #211 "`a new version is available` notification keeps showing up"
## Bug Report 🐛

The 'refresh for update' indicator is a bit buggy

![refresh-indicator](https://user-images.githubusercontent.com/1196524/85434338-2ccb7d80-b586-11ea-89c8-3170fd13f561.gif)

## To Reproduce ✔️

1. No idea, maybe it's only the netlify preview build?

## Expected behavior 🤔
The refresh indicator should only appear once, and be gone when I click "refresh".

## Suggested solution 🔦

#

[2020-06-24 02:13] JacobMGEvans commented on #211
Oh, interesting! I wonder if I can recreate that.

[2020-06-24 10:51] MichaelDeBoey commented on #175
I think this one can be closed now? 🤔
https://twitter.com/meijer_s/status/1275736530175307780

[2020-06-24 11:23] smeijer commented on #175
Indeed it can :tada: :partying_face:

@AmySteam, thanks for sharing your knowledge with me :heart:

[2020-06-24 11:23] #175 closed

[2020-06-24 15:09] smeijer opened #213 "support custom `testid` in the Chrome Extension"
## Summary 💡

The title says it all.

## Motivation 🔦

https://twitter.com/wescopeland_/status/1275800945331441668?s=20

[2020-06-24 16:21] timkindberg opened #214 "Page breaks with compound aria-labelledby example"
## Bug Report 🐛

Playground crashes when attempting to target an input with multiple labels used in aria-labelledby

## To Reproduce ✔️

1. Paste this into the HTML box
[code]
There are various ways to trigger the crash
1. Click the input in the preview
2. Try to manually construct a valid selector in the bottom left panel

## Expected behavior 🤔

No crash

## Suggested solution 🔦

Error suggests

[2020-06-24 16:46] marcosvega91 commented on #214
Hi @timkindberg
thanks for reporting this issue 😄 .
It is regarding to [#545](https://github.com/testing-library/dom-testing-library/issues/545).
Unfortunately at the moment this kind of query is not supported yet.

I'll fix on this side in a while 👍

[2020-06-24 19:32] kentcdodds opened #216 "Extension giving this warning: DevTools failed to load SourceMap"
DevTools failed to load SourceMap: Could not load content for chrome-extension://hejbmebodbijjdhflfknehhcgaklhano/content-script/contentScript.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME

![image](https://user-images.githubusercontent.com/1500684/85619152-1b827f80-b61f-11ea-87e0-3e90797089cd.png)

[2020-06-24 19:33] kentcdodds opened #217 "Extension needs to be more responsive"
When I'm on a smaller screen, I can't see half of the extension and I can't scroll either.

![image](https://user-images.githubusercontent.com/1500684/85619299-4ff63b80-b61f-11ea-9375-2d9114543e1a.png)

[2020-06-24 19:43] kentcdodds opened #218 "Add a tooltip for the extension buttons"
I'm not sure what these do:

![image](https://user-images.githubusercontent.com/1500684/85620149-9dbf7380-b620-11ea-93d7-5fab706966de.png)

A tooltip with a short description/title would be nice :)

[2020-06-24 21:30] smeijer commented on #218
@kentcdodds , it should be there.  If it's not working, it's a bug.

Which browser do you use? The video below is Chrome on Ubuntu.

![tooltip](https://user-images.githubusercontent.com/1196524/85629664-8e691600-b672-11ea-90d0-3019af1578a8.gif)

[2020-06-24 22:46] smeijer commented on #217
Looking at the screenshot, I think this has been fixed by #181.

That means, a simple rebuild will be sufficient to resolve this issue.

[2020-06-25 14:52] #214 closed

[2020-06-25 22:29] kentcdodds commented on #218
I wasn't patient 😅

[2020-06-25 22:29] #218 closed

[2020-06-25 22:30] kentcdodds commented on #217
That would definitely help. I think also the code area doesn't need to fill half of the visible space. Most of the time there's only a single line there. Maybe two or three.

[2020-06-26 09:04] smeijer commented on #217
With queries that's definitely true. But will that also be true when writing user-events?

I'll look into it. Maybe it's possible to make it auto grow on smaller screens. Or 1 - 2 lines by default, with an expand button that makes it grow to the current 50%. That would solve the screen size issue.

[2020-06-26 10:21] #10 closed

[2020-06-26 10:21] #69 closed

[2020-06-26 10:22] #216 closed

[2020-06-26 12:35] kentcdodds commented on #217
Yeah, I think we could get creative

[2020-06-26 13:42] smeijer commented on #149
Closed by #181

[2020-06-26 13:42] #149 closed

[2020-06-27 18:28] smeijer commented on #152
Got a few lambdas working, but the save button requires some changes in component hierarchy. Will continue later.

[2020-06-27 21:15] delca85 commented on #213
Hey!
Could I maybe have an example of a custom testId that the Chrome extension should support?
Thanks!

[2020-06-27 21:25] smeijer commented on #213
Every possible element attribute.

https://testing-library.com/docs/dom-testing-library/api-configuration

[2020-06-27 21:31] delca85 commented on #213
Ok, I got it. Thank you very much!

[2020-06-28 07:59] delca85 commented on #213
I could give it a shot.
I have two question about the implementation:
1. should we enable this feature in `testing-playground` too?
2. if you have already thought about this: in order to retrieve the desired attribute to be used as `testId` should we add an input somewhere where the user could insert it?

[2020-06-28 08:06] timdeschryver opened #222 "Add link to extension on testing-playground.com"
## Summary 💡

I think the extensions is great and super useful!
That's why I believe it should be added somewhere on testing-playground.com

## Examples 🌈

/

## Motivation 🔦

More peoples need to know about the extension 🎉

[2020-06-28 09:51] smeijer commented on #213
1. Yes, I think we should keep the web version and the chrome version as equal as possible. That way a user could just copy/paste code from his tests (debug output) to the web version, and share the link with others to get some advice.

2. Yes, we would need an `input`. I have some idea's about the interface, but I haven't figured it out exactly. I think we need to add a settings modal similar to

[2020-06-28 10:17] smeijer opened #223 "docs: update dev docs"
I've collected/generated some information over the time, which we should add somewhere to make contributions easier:

- when needing components like dialogs, menu's, tabs, tooltips, etc, we should use [`@reach-ui`][reach-ui] when a library is required.

- for icons, we use [octicons]

- for illustrations, we use `svg`'s from [undraw], with the color `#EDF2F7` and opacity of `.5`

- component hiera

[2020-06-28 15:27] delca85 commented on #213
Ok, I think I have understood.
If it sounds good to you, I could start adding a settings modal to the extension in which a user could insert the attribute to be used as custom test id.

[2020-06-28 16:39] marcosvega91 opened #224 "Support all orientation PWA"
## Bug Report 🐛

I have installed the application on my smartphone and I see that the orientation was landscape

## To Reproduce ✔️

When you open the website of testing-playground click on the install button

## Expected behavior 🤔

To support both landscape than portrait

## Suggested solution 🔦

We need to simple change the `site.webmanifest`

[code]

## Your Environment 💻

- _browser_: Chrome

[2020-06-28 18:46] smeijer commented on #213
Sounds great @delca85.

[2020-06-28 20:53] JacobMGEvans commented on #211
Seems like the service worker Registration is being called multiple times
<img width="632" alt="Screen Shot 2020-06-28 at 3 52 46 PM" src="https://user-images.githubusercontent.com/27247160/85957969-8271a280-b957-11ea-85de-b56638cca211.png">

[2020-06-28 21:17] smeijer opened #225 "Extension hides buttons in jira?"
This issue is originating from the chrome webstore.

I doubt that the extension can be causing this, but we should verify.

On the support tab:
https://chrome.google.com/webstore/detail/testing-playground/hejbmebodbijjdhflfknehhcgaklhano

![Screenshot_20200628-231422](https://user-images.githubusercontent.com/1196524/85958368-5f65e380-b995-11ea-855c-4667431d6e8d.jpg)

[2020-06-28 21:35] smeijer commented on #211
Thanks for the research 👍

I would expect `installingWorker.state === 'installed'` to handle that. Did you find any useful difference between the events, that we can use to detect the right one?

If not, we can always set and check a file scope `notified` flag.

[2020-06-28 21:47] JacobMGEvans commented on #211
That handled it but there was an additional condition checking the ServiceWorker controller that was null for the first 2 state changes and never seemed to render the toast unless I removed it. Currently, I am trying to see if I can find `onstatechange(` behavior for installed that will also do it but not have the other renders will `null` states

[2020-06-30 16:18] smeijer commented on #213
@delca85, I'm working on an interface update to support a setting modal. So don't worry too much about where you're going to place that `input`. Just focus on figuring out how we can configure testing-lib to apply that setting.

![image](https://user-images.githubusercontent.com/1196524/86150740-141b1480-bafe-11ea-85c9-0eeeb4ea9d56.png)

[2020-06-30 16:23] delca85 commented on #213
@smeijer, great! I have already implemented the functionality but I still have to apply style to the modal. If it's ok for you I could push tonight the code I have and later we could merge our work.

[2020-06-30 16:25] smeijer commented on #213
Sounds good to me @delca85

[2020-07-01 03:21] rbusquet opened #228 "Can't disable "select element" mouseover"
## Bug Report 🐛

Can't disable mouse over hint by clicking on the "select element" button in the chrome extension:

![Jun-30-2020 23-18-50](https://user-images.githubusercontent.com/7198302/86199429-198d5480-bb28-11ea-9fff-68739acc863c.gif)

## To Reproduce ✔️

1. Click the "select element" button on the chrome extension
2. See mouse-over triggers changes in the code editor for hints
3. Click "sel

[2020-07-01 05:53] marcosvega91 commented on #228
Hi @rbusquet thanks for spotting this :).

I have fixed the issue #229

[2020-07-01 05:56] marcosvega91 commented on #225
I have tried to replicate this, in jira you can only add comments but I don't see a way to reply to an existent comment

[2020-07-01 07:10] smeijer commented on #225
Is that with, or without the extension installed? 😇

[2020-07-01 07:11] delca85 commented on #225
According to me even without the extension installed.

[2020-07-01 07:18] #225 closed

[2020-07-01 08:55] #228 closed

[2020-07-01 16:29] wKovacs64 opened #235 "Add Firefox support to the browser extension"
## Summary 💡

It would be great if the extension worked in Firefox as it does in Chrome.

## Examples 🌈

See Chrome behavior.

## Motivation 🔦

Not everyone uses Chrome. 🙂

## Additional Information ℹ️

I glanced around and it sounds like most extensions should work in both browsers (perhaps with a little tweaking). I ran the Testing Playground extension through https://www.extensiontest.com/ and

[2020-07-01 17:08] smeijer commented on #235
I've taken a look at it, and the warnings that you're seeing are easily fixable.

Unfortunately, it seems that `crx-bridge`, does not yet support Firefox: https://github.com/NeekSandhu/crx-bridge/issues/4.

So, for now this doesn't feel like an easy task. Unless we can contribute to `crx-bridge` to add Firefox support there as well.

[2020-07-02 16:27] wKovacs64 commented on #235
Sounds like the `crx-bridge` author is interested! Thanks for taking a look.

[2020-07-02 18:08] smeijer commented on #235
I'll keep an eye on that one :innocent:

[2020-07-02 19:11] smeijer opened #237 "support query suggestions for select options"
## Summary 💡

When I select `audi` from the list of `cars`, I want the playground to give me the right query.

## Examples 🌈

[code]

[code]

The query above works, but can not be constructed by using the preview pane + clicking on elements.

## Motivation 🔦
https://discordapp.com/channels/723559267868737556/724762529259061308/727609068067225681

[2020-07-03 13:12] delca85 commented on #237
Hey @smeijer !
Could I give it a shot or are you already working on it?

[2020-07-03 14:42] smeijer commented on #237
@delca85 , no-one has claimed this yet. So please take your shot :+1:

[2020-07-03 23:17] bmeverett opened #238 "Safari doesn't use full screen space"
## Bug Report 🐛

Safari doesn't use the full screen real estate.

Safari
<img width="1775" alt="Screen Shot 2020-07-03 at 4 30 36 PM" src="https://user-images.githubusercontent.com/3941006/86496585-2094ac80-bd4c-11ea-81dc-03ab71b1678b.png">

Chrome
<img width="1771" alt="Screen Shot 2020-07-03 at 4 40 03 PM" src="https://user-images.githubusercontent.com/3941006/86496590-27232400-bd4c-11ea-9a7b-98

[2020-07-03 23:45] bmeverett commented on #238
I think I was able to get it to display full screen, but looks like there's an issue with the `Editor` component as well. Looking into that.

<img width="1904" alt="Screen Shot 2020-07-03 at 7 30 43 PM" src="https://user-images.githubusercontent.com/3941006/86501314-c0aaff80-bd65-11ea-977d-26ca95a999bd.png">

[2020-07-04 18:50] #54 closed

[2020-07-04 18:51] #64 closed

[2020-07-04 18:52] smeijer commented on #152
Closed by #232

[2020-07-04 18:52] #152 closed

[2020-07-04 18:53] smeijer commented on #153
Closed by #232.

[2020-07-04 18:53] #153 closed

[2020-07-04 19:04] #222 closed

[2020-07-05 12:44] delca85 opened #243 "Clicking on Preview pane does not close any menu like playground or settings on develop environment"
## Bug Report 🐛

Like said in title, playing with  https://develop.testing-playground.com/  I found out that once a menu from toolbar like `playground` or `settings` is opened, clicking on `Preview` pane does not close it. While if I click on another pane (`MarkupEditor`, `QueryEditor` or `Result`) closes it.

## Expected behavior 🤔

I expected that clicking outside the menu but inside `Preview` w

[2020-07-05 13:11] delca85 opened #244 "In develop environment, when auto-run code is disabled clicking on run button makes nothing happens"
## Bug Report 🐛

In  https://develop.testing-playground.com/ if I disable `auto-run` code, then I insert a query and click on `run` button in `Header` nothing happens.
No element selected or event fired (in case of `user-event` method inserted).

## Expected behavior 🤔

I expected that clicking `run` makes the query be executed.

## Suggested solution 🔦

I think the right thing to do should be add

[2020-07-05 13:52] smeijer commented on #244
Fixed by #245

[2020-07-05 13:52] #244 closed

[2020-07-05 14:07] delca85 opened #246 "In develop environment role queries not appear in ResultQueries"
## Bug Report 🐛

On  https://develop.testing-playground.com/, clicking on an `input` element, the `getByRole` query is rightly inserted (and evaluated) in `QueryEditor` but it does not appear in `ResultQueries`.
Clicking on a `button` element does not reproduce this bug, the `role` query appears in `ResultQueries`.

<img width="1678" alt="Screenshot 2020-07-05 at 16 01 56" src="https://user-images

[2020-07-05 14:36] delca85 commented on #246
I just found [this](// for inputs, the role will only work if there is also a type attribute) comment. The inserted markup indeed had the `type` attribute specified (it was `email`) but it does not work anyway while if I set it to `textbox` the query is rightly suggested in `ResultQueries`.

[2020-07-05 16:03] smeijer commented on #246
I feel like not all the parts of the playground are using suggestions generated by testing-library/dom. That should make cases like these impossible.

[2020-07-06 18:44] #238 closed

[2020-07-06 19:36] delca85 commented on #246
Ok, I got your point but I think that maybe we could improve the playground suggestion in case of `input` with a defined `type` even if it is not `text`.

If I am not wrong, [this](https://github.com/testing-library/testing-playground/blob/989b35d038cfe774cba511ef351ffc8a2ba4d33a/src/lib/queryAdvise.js#L21) is where we create the `role` suggestion.
In case of we are evaluating an `input` element t

[2020-07-06 20:24] smeijer commented on #246
Sounds good to me.

[2020-07-06 21:29] #246 closed

[2020-07-06 21:32] smeijer commented on #243
I'm not sure what exactly causes this. Maybe clicks in an iframe aren't propagated back to the parent document?

Anyway, I don't think it's worth postponing the release for this issue.

[2020-07-07 06:27] delca85 commented on #243
I totally agree!

[2020-07-07 18:26] smeijer commented on #213
closed by #213

[2020-07-07 18:26] #213 closed

[2020-07-08 08:17] smeijer commented on #211
@JacobMGEvans, were you able to find a solution for this issue? I consider disabling the notification entirely. Because it's really bugging me.

[2020-07-12 11:45] timdeschryver opened #253 "Suggested RegExp should be escaped"
## Bug Report 🐛

Suggested queries should be escaped.
For example `/loading ... (1)/i)` should be `/loading ... \(1\)/i`

## To Reproduce ✔️

See [this playground](https://testing-playground.com/gist/85e7be15e0f93fa4893c6517f955073d/d636526139bb75376c31407d77ccc24841b5be6b).

Click on the element and the suggested query can't find the element.

## Expected behavior 🤔

I would expect that the sugge

[2020-07-12 12:20] smeijer commented on #253
Thanks for reporting. This issue should be fixed upstream though. It's a bug in the suggestions from `@testing-library/dom`.

I've made a quick repo at codepen:

https://codepen.io/smeijer/pen/ExPpadd

[2020-07-14 14:00] delca85 commented on #237
@smeijer maybe could we close it because #252 enabled it?

[2020-07-14 14:27] #237 closed

[2020-07-24 16:57] kentcdodds opened #255 "Suggest label over text"
### Relevant code or config:

[code]

### What you did:

Tried this in the Testing Playground: https://testing-playground.com/?markup=DwEwlgbgBGILwCIBmB7FBaAjAJgMwKgEMAnMQ9AG0ICMBTCi2kagT0VQyrooQD4oAdEKjAA9OAi8AUMC70Y8ZGko16BVMXbKc%2BXgDE01EmLkVeQA&query=M4YwTgphB2B0DmEAuAhAngGQIYCMIBsAVCADyQAoB6AMwHtacsxKBLASiA

### What happened:

It recommends `screen.getByText` even though `screen.getByLabelTe

[2020-07-24 21:44] ljosberinn commented on #211
Reminder for myself to check this out tomorrow 😅

[2020-07-28 18:39] kentcdodds commented on #255
I think you're misreading what it's saying. What's on the left is not the suggested query. It's the code you're executing. If you change it to use `getByText` instead then the right side will go green for you :)

[2020-07-28 18:51] marcosvega91 commented on #255
Yes i know but the left side is autocompelte when you click on the dom element.

When you click both right and left side are populated with suggested query taken from @testing-library/dom but the right is  incorrect and the left is correct

[2020-07-29 08:23] smeijer commented on #255
@marcosvega91 is correct. Something went wrong here.

At this moment, suggestion data comes from two sources;

1. The sandbox. The preview pane acts as a sandbox. It's an iframe with some sandbox restrictions, to block a script from escaping the iframe and inject code in the window & force a redirect to a malicious domain.

2. An in-memory frame (`document.createElement('iframe')`) that's never ad

[2020-07-29 10:24] #255 closed

[2020-07-29 13:23] smeijer commented on #255
Turns out, it was today. Production has been updated.

[2020-08-14 08:46] ljosberinn opened #268 "Suggested query not updating when clicking an element"
## Bug Report 🐛

Using the example code, clicking any element in the top right corner will update the bottom left, but not the bottom right:

![image](https://user-images.githubusercontent.com/29307652/90230777-5bddcd00-de1a-11ea-9110-6dd860169121.png)

As soon as you type something, even only a space, in the bottom left area, bottom right will update appropriately.
Notice the meta info about the

[2020-08-14 12:14] smeijer commented on #268
This indeed worked in the past. I don't have the time at this moment to dive in either, but I suspect I caused this with #264.

[2020-08-16 12:56] ljosberinn commented on #268
Can confirm, it was that commit. Looking into alternative solutions now.

[2020-08-16 17:45] smeijer commented on #268
Thanks for looking into it!

[2020-08-17 17:32] smeijer commented on #268
@ljosberinn, update is on the way.

[2020-08-17 17:36] ljosberinn commented on #268
oh I was looking in entirely different places, e.g. trying to skip state update in reducer if the expression is identical 😢 honestly felt a bit lost in there as it changed significantly since I last contributed - glad it's sorted!

[2020-08-17 17:37] #268 closed

[2020-08-17 17:53] smeijer commented on #268
yeah, I can imagine you feeling lost.

But anyway, this fix has landed in production. Let me know if it's still bugging?

[2020-08-17 18:31] ljosberinn commented on #268
Works like a charm 😎

[2020-08-28 14:49] gndelia opened #271 "Using the suggested query by text breaks when the text includes parenthesis"
## Bug Report 🐛

The "Suggested Query" box breaks when trying  to load a `getByText` query if the text includes parenthesis `()`. I assume this are not being escaped in this scenario, but they are when showing the example in `getByRole`

## To Reproduce ✔️

[playground link](https://develop.testing-playground.com/gist/bd99c6876b08be42f2df30c040f43608/a8bc14ec018ddf4aeaf636f6cf2af8caa9d478d2)

it's

[2020-08-28 15:19] marcosvega91 commented on #271
Hi @gndelia thanks for reaching us 😄 .

It was a problem with a previous version of @testing-library/dom. It'll be fixed when we'll release a new version of testing-playground.

The problem was that the regex were not escaped.

Stay tuned 👍

[2020-09-30 10:26] michal-kocarek opened #274 "Allow changing the markup inside embedded IFRAME"
##  Summary 💡

Playground allows to be embedded inside an IFRAME in other page. However, once loaded, there is no simple way of changing the markup within the playground.

By looking at the code I thought might be not difficult to allow this by adding one more case into 'message' event handler, which would allow changing the content of the markup once the IFRAME has been loaded.

## Examples 🌈

It

[2020-09-30 11:58] smeijer commented on #274
That sounds very interesting! This would allow us to build interactive playgrounds / tutorials.

Are you willing/able to take a look at it, and submit a PR? I would be happy to support this.

[2020-09-30 12:02] michal-kocarek commented on #274
Sure, I will do PR for this. Thank you for quick reply.

[2020-10-06 21:13] michal-kocarek commented on #274
Hi @smeijer, I've made some PR for this issue, and am looking forward for any feedback.

Have a great day.

[2020-10-09 12:38] smeijer commented on #274
Closed by #275.

[2020-10-09 12:38] #274 closed

[2020-10-09 18:49] #271 closed

[2020-10-09 18:50] marcosvega91 commented on #271
A new version with the fix has been released ☺️

[2020-10-21 09:34] smeijer commented on #235
`crx-bridge` has been updated, so this should now be possible.

[2020-10-30 10:21] SebastienWae opened #284 "Chrome extension doesn't work when third-party cookies are blocked"
## Bug Report 🐛

When third-party cookies are blocked in Chrome the main "Testing Playground" tab for the `testing-playground` extension doesn't work.
The tab is empty and the console return the error:
`Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document`

## To Reproduce ✔️

1. Install the [`testing-playground`](https://chrome.google

[2020-10-30 11:31] marcosvega91 commented on #284
Hi @SebastienWae thanks for reaching us :).

You're right, `localStorage` is used to save user settings like `testid` attribute and `auto-run` option to make them persistent even if you refresh the page.

I think that we could simply check the `navigator.cookieEnabled` property and save only in the case the `cookies` are enabled

[2020-10-30 13:09] smeijer commented on #284
We've fixed it in the current develop version. The chrome extension in the store will be updated asap.

[2020-11-10 21:17] petrkrejcik opened #294 "Events recorder with test code output"
## Summary 💡

The extension would have a record button which would store every user action performed in the page (click, type, etc.) to a _code output_ window.

## Examples 🌈

Something similar is already done in [Cypress Recorder](https://chrome.google.com/webstore/detail/cypress-recorder/glcapdcacdfkokcmicllhcjigeodacab).

In the ideal world there would be a select box with different test librar

[2020-11-10 22:12] smeijer commented on #294
Hi @petrkrejcik,

Thanks for the feature request. Are you willing / able to spend time on a pull request?

[2020-11-11 09:56] aganglada commented on #243
Related to an issue from reach-ui, we have exactly the same behaviour https://github.com/reach/reach-ui/issues/566

![Screenshot 2020-11-11 at 09 55 33](https://user-images.githubusercontent.com/922348/98797133-16727100-2404-11eb-982e-06d5ed8e967a.png)

[2020-11-11 10:47] aganglada commented on #34
@marcosvega91 NPM released workspaces a few weeks ago, I can. spend some time giving it a shot, would you like me to do so? https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/

[2020-11-11 12:49] smeijer commented on #34
@aganglada, can you tell me what the impact is for contributions/maintainers?

[2020-11-11 22:47] petrkrejcik commented on #294
Sorry, I am not able to spent time on implementing this feature. I hope there might be somebody.

[2020-11-12 09:27] aganglada commented on #34
@smeijer Depends of what you mean with impact, but basically:

* We will structure the repo in different packages `app`, `chrome-extension`, `devtools`
* We will need to change contributing guidelines so they follow the new structure
* Change on documentation
* Change on github actions to make sure it all works like it does currently.

Is that what you mean?

[2020-11-12 10:44] aganglada commented on #172
As long as I can see, the events route is the same page but with a different bottom panel. What do you think if we merge them in tabs that way users can switch between them, instead of changing routes (we can lazy load tab contents so we only load that UI if they click on the tab).

So in Playground we could have
[code]
What do you think @smeijer?

[2020-11-12 17:24] smeijer commented on #34
Thanks,

That. And also; once it has been restructured. What do I need to do to install a package into `devtools`, and what do I need to install it into `app`?

But please, feel free to give it a shot. It would be much appreciated. :heart:

[2020-11-12 17:29] smeijer commented on #172
We should definitely do that. A PR with that change would be much appreciated.

About the tabs, what do you think? Use the same link/tab style as we do in the embed dialog? Those fit nicely in between the panes.

![image](https://user-images.githubusercontent.com/1196524/98974171-e666c300-2514-11eb-8e65-70a6a53562a3.png)

[2020-11-13 08:46] aganglada commented on #34
@smeijer yep, that will be something like `npm workspace app add your-package`. I will investigate 😄

[2020-11-13 08:47] aganglada commented on #172
@smeijer Awesome! will try those and send it over!

[2020-11-14 10:37] vasilii-kovalev opened #297 "Cursor jumps to the very beginning of the editor on pasting a copied string"
## Bug Report 🐛

Cursor jumps to the very beginning of the editor on pasting a copied string.

Before pasting:
![image](https://user-images.githubusercontent.com/10310491/99145109-de299780-267c-11eb-9a8d-ec61fe17bcd1.png)
After pasting:
![image](https://user-images.githubusercontent.com/10310491/99145123-fa2d3900-267c-11eb-8436-35bbb46d682d.png)

Reproduced both in markup and query editors.

## To

[2020-11-14 10:38] vasilii-kovalev commented on #297
P.S.: It seems the link from the bug report template (https://develop.testing-playground.com/) doesn't work.
![image](https://user-images.githubusercontent.com/10310491/99145290-9f94dc80-267e-11eb-913f-7fc5c8d481ae.png)

[2020-11-14 12:31] #297 closed

[2020-11-14 18:51] aganglada commented on #133
@smeijer should we create those gists under the @testing-library organisation? (So they don't get lost, or deleted by mistake)

I will give this a shot once you confirm this 😃

[2020-11-14 21:17] smeijer commented on #133
@aganglada, testing-playground has its own bot account to hosts gists.

If you create a playground and copy the share url, the gist is automatically saved. Post the link (share url) to that playground here, and we can decide which ones are worth to add as preset. 😊

[2020-11-14 21:21] smeijer commented on #133
BTW, when working on this, remember that it's also possible to make things interactive. It's possible to add `<script type="javascript">... </script>` to the markup area. That can create awesome things!

[2020-11-14 21:24] #224 closed

[2020-11-15 16:07] smeijer commented on #297
Thanks for the report @vasilii-kovalev. Both issues should now have been fixed.

[2020-11-16 17:19] #243 closed

[2020-11-16 17:23] #223 closed

[2020-11-16 19:04] aganglada commented on #243
@smeijer I will keep track of reach/reach-ui#566 to update our version

[2020-11-17 10:20] aganglada opened #303 "Improve folder structure"
## Summary 💡

As the project grows, the `components` folder is getting bigger and bigger, I suggest a different approach to structure it where every component is in its own folder allowing the set of components to grow and follow clearly.
Also adding a `pages` folder for every view on the router. And leaving `App` and `Router` outside.

## Examples 🌈

[code]

Where `Preview.js` is the actual compo

[2020-11-17 11:16] smeijer commented on #303
I do agree that we must reorganize a bit. Maybe more in the scope of #34. I'm not a big fan of the `1 component per folder` principle. I believe in clear names for component files, and just have them in the same directory. Unless something becomes so big that it deserves to be a separate folder or even a separate package.

I don't see the benefit of having:

[code]

over:

[code]

In case I need a

[2020-11-17 11:26] aganglada commented on #303
Make sense, maybe we could take out `pages` as they are a complete view? And take out `App` to the root as it's the main entry point? What do you think?

[2020-11-17 11:39] aganglada commented on #303
What I see as a benefit is that if you are working on `Preview` for instance, you don't need to have other components open and well as having a clear view of what you are working on, and you still get the benefit of `ctrl+p` lookup.

I do not use myself `index.js` pattern myself on my other projects because I don't mind doing `import Preview from '../components/Preview/Preview'`, but I know some p

[2020-11-17 20:09] smeijer commented on #303
Separating pages sounds good to me. Even though we only have one.

[2020-11-17 20:15] delca85 commented on #303
I agree with both of you. I think this will make the project structure more readable.

[2020-11-18 14:42] SimonGodefroid opened #304 "Not launching on Chromium Version 83.0.4103.116 (Developer Build) built on Debian 10.4, running on Debian 10.3 (64-bit)"
* Before opening a new issue please check if it is already solved here https://develop.testing-playground.com/ => where though?

## Bug Report 🐛

I installed the extension on the following version of Chromium Version 83.0.4103.116 and the only thing I get from the dev tools is a plain screen.

![image](https://user-images.githubusercontent.com/17337190/99544060-29f97b00-29b4-11eb-93a2-3db973bd5043

[2020-11-29 20:24] ddehart opened #305 "`level` option of getByRole is not respected in Testing Playground"
## Bug Report 🐛

Testing Playground does not respect the [level](https://testing-library.com/docs/dom-testing-library/api-queries/#level) option of getByRole.

On https://develop.testing-playground.com:

### `undefined` using `screen.getByRole('heading', {level: 1})`

![level-option](https://user-images.githubusercontent.com/901215/100552429-263be300-3255-11eb-9144-cad98c60caa3.png)

### `Array` w

[2020-11-29 21:25] smeijer commented on #305
Thanks! Are you willing / able to submit a PR?

[2020-11-29 22:39] ddehart commented on #305
@smeijer I'll give it a shot!

[2020-11-30 14:22] #305 closed

[2020-12-03 12:02] #172 closed

[2020-12-05 13:30] balavishnuvj opened #309 "Option to disable pointer events in events tab"
## Summary 💡

testing-playground released an awesome feature to look at the events that were performed. It would be great to have an option to disable event like
- mouse move (in and out)
- pointer move

As these events would just clutter the events tab.

Happy to help :)

[2020-12-05 13:33] balavishnuvj commented on #235
@smeijer need any help here?

[2020-12-05 22:03] marcosvega91 commented on #309
Hi @balavishnuvj i think that it should be fine, a nice improvement btw. Maybe we can disable by default some noise events, that could be enabled if someone need. 👍🤩

[2020-12-05 22:09] marcosvega91 commented on #235
`crx-bridge` Has been updated with Firefox support. Here we have the version `2.1` But we should install the version `3`. Do you wanna open a PR with the package update? It will be very awesome 😎

[2020-12-06 06:23] delca85 commented on #309
Hey @balavishnuvj, I totally agree with @marcosvega91. In #171 there was a list of some event types that should be disabled by default.
Maybe we could use the same list!

[2020-12-06 12:19] balavishnuvj commented on #235
<img width="2046" alt="image" src="https://user-images.githubusercontent.com/13718688/101279842-315db880-37eb-11eb-9717-bb685840d4e2.png">

just after updating `crx-bridge` to `3.0.1` I'm getting these errors. Before digging deep into these, thought will run by you guys once.

[2020-12-06 15:59] smeijer commented on #309
Closing as duplicate of #171

[2020-12-06 15:59] #309 closed

[2020-12-06 16:00] smeijer commented on #235
Would be much appreciated!

[2020-12-06 16:07] geeknik opened #311 "HTML injection"
Hello, we have found an HTML injection flaw:
`http://testing-playground.com/%22%0D%0A/%3E%3Ch1%3E%3Ca%20href%3Dhttps://geeknik-labs.coom%3EYour%20password%20is%20currently%20expired,%20please%20click%20the%20link%20to%20update%20your%20information%3C/a%3E%3C/h1%3E/`

We believe this line is to blame due to the lack of input validation on `${frameSrc}`:
https://github.com/testing-library/testing-pl

[2020-12-06 22:22] ddehart opened #314 "Query input/output non-functional"
## Bug Report 🐛

## To Reproduce ✔️

1. Visit https://testing-playground.com/
2. Change the `getByRole` query to any selector other than `'button'`

![testing-playground](https://user-images.githubusercontent.com/901215/101294736-826bad80-37e7-11eb-9a74-94a4017d99c4.gif)

## Expected behavior 🤔

I expect `QueryOutput` to change based on my query

## Your Environment 💻

- _browser_: Chrome
- _os_:

[2020-12-07 15:43] marcosvega91 commented on #314
Hi @ddehart thanks for raising this :).

I can confirm the bug. Do you wanna work on a fix? With e2e now we can create a test case for the issue and then fix.
Thanks a lot :)

[2020-12-07 17:20] smeijer commented on #314
For reference, it's 351c6ffd that broke this (PR #296)

[2020-12-07 17:43] delca85 commented on #314
Yes, I confirm that. In `PlaygroundPanels` the query `value` is update while  the `result` value not.

[2020-12-07 18:17] delca85 commented on #314
In my opinion, the error is somehow related to the usage of `Suspense` in `PlaygroundPanels`, removing that component the result is updated when a new query is inserted.
https://github.com/testing-library/testing-playground/blob/fb43e61ae98f4ca07f6a18a41be70c4939dc17ea/src/components/PlaygroundPanels.js#L46

[2020-12-07 18:37] smeijer commented on #314
That's a great finding @delca85. Thanks! Can you submit a PR?

[2020-12-07 21:18] delca85 commented on #314
I was wrong, this bug was not due by `Suspense`. I fixed it passing `state` and `dispatch` as props to `PlaygroundPanels` instead of making it retrieve them through `usePlayground` hook.

[2020-12-08 09:40] #314 closed

[2020-12-09 08:47] #303 closed

[2020-12-30 10:53] julienvera commented on #284
Hi ! It seems the chrome extension in the store is still not updated (latest release is from July). Can you eventually push a newer release ? It is frustrating to have a _painful_ bug fixed but not deployed

[2020-12-30 14:22] smeijer commented on #284
Sorry, this slipped my mind. I've submitted the new version to the Chrome store, and we're waiting for review by the Chrome team. Usually, this will happen in just a few days. I don't know how the holidays will affect this, but please ping me here if the update isn't available in a few days.

[2020-12-30 19:38] smeijer commented on #284
The extension has been published! 🎉 Please let me know if the problem persists.

[2020-12-30 19:38] #284 closed

[2020-12-31 09:08] julienvera commented on #284
Problem fixed, thanks a lot

[2021-01-13 18:58] WeslleyNasRocha commented on #235
I used web-ext to "run" the extension and it gave any errors, can you guys try it? #327

[2021-01-31 17:46] smeijer opened #328 "Fix Twitter feedback"
https://twitter.com/meijer_s/status/1355844574497935361?s=19

[2021-02-16 09:49] joaopedrodcf commented on #235
As #327 was successfully merged and accepted in firefox addons we can close this no? @smeijer 🙏

[2021-02-16 12:24] sztahanova opened #329 "Host Playground locally/on internal server"
## Summary 💡

I have found no information about how to host a testing playground locally during testing or on an internal server. As we are using React Testing Library in a company environment, it raises privacy and legal issues to send out code snippets to an external site. Is there any way to get around this? Or we should just stick to React Testing Library's `screen.debug()` and make do with it

[2021-02-16 14:32] aganglada commented on #329
@sztahanova thanks for raising this.

As long as I'm aware we don't keep any data, but rather `react-testing-library` will generate a string based on your markup (using https://www.npmjs.com/package/lz-string) and append it to the React Playground url. I don't think you need to be concerned on privacy as that string will only be available for you on your browser.

Hope that helps.

[2021-02-16 17:53] smeijer commented on #235
We can indeed. 😎

[2021-02-16 17:53] #235 closed

[2021-02-16 17:54] smeijer commented on #235
I did notice a bug tho. The side panel in the elements pane does not seem to work in Firefox. Maybe that upgrading crx-bridge will fix that.

[2021-02-16 18:01] smeijer commented on #329
As @aganglada correctly mentions, your code will not leave your machine. And the way @testing-library/dom generates the playground links, are also client side. Even when opening them in de browser.

The url part after the `#` is always client side. Servers don't receive this data.

Your concern is about the implementation in dom-testing-library. If it helps, you could file an issue there to make t

[2021-02-16 18:01] #329 closed

[2021-02-16 18:39] sztahanova commented on #329
Thank you both @aganglada and @smeijer for your quick and detailed responses, you've been of great help!

[2021-02-17 16:29] WeslleyNasRocha commented on #235
Wow, in fact, I've never used that panel hahaha, only the dedicated panel.

[2021-02-18 08:16] mateuszpigula-sp opened #330 "contentScript.js: Element is inaccessible."
## Bug Report 🐛
![image](https://user-images.githubusercontent.com/67776490/108324196-e0454a00-71c7-11eb-9bd3-ffcfb28ee005.png)

I see a mentioned warning which weights down the browser.
How do I know extension causes the problem?
I turned off all extensions => no warning,
turned on only Testing Library => warning

## To Reproduce ✔️

I have a problem with this as it happens really independently.

[2021-02-18 08:23] smeijer commented on #330
Without steps to reproduce, and a "resolved problem" by updating your browser, I don't see what I can do about this.

So I'm closing this ticket for the time being. But I'm happy to reopen when someone can provide me the "steps to reproduce".

Thanks for filing the issue.

[2021-03-31 21:12] belfortmaycon opened #331 "Material UI Dialog Component is not responsive and can't see all screen"
## Bug Report 🐛

I'm testing a Material UI Dialog and when opening the screen on playground the CSS is not applied and the screen size is not responsive not allowing to see the entire component

## To Reproduce ✔️

1. Create a simple component like in Material UI Dialog document https://material-ui.com/components/dialogs/#simple-dialogs
2. Write a test to open the dialog and print the testing play

[2021-03-31 21:30] smeijer commented on #331
Hi!

Can you share that playground url?

I'm not sure if there is something that we can do to fix this. I don't think it's appropriate to also send all stylesheet and other potentially related code to testing-playground.com, when the test runner offers that link.

Without diving into details here, I think the best way to debug issues in this kind of advanced scenarios, is using the browser extensi

[2021-03-31 21:34] belfortmaycon commented on #331
I see... follow the link

https://testing-playground.com/#markup=DwEwlgbgBAhgTmGBaAFmEICmA7AvAIgBc4BXTfAPmAHpwIq6o4B7AG0wIAc5MBnHQjEJhm2fFADGrGL14EAsiTAARRK2YBzJC2aFxvQgE92XZrzDDRALigAzMAA9MIANxQAXkjDYsDmwEYAZgAGYLcEDRRCG2DOBzcAI11CZgBbGLi3FM4M+Kh2W2ioWPjKUEhJaVkFJQAhGAkAaxAWTm1mXXF4RFR0LDwiUnIoA2MOfGZOBotDALcAd0wExoskYhhsc0tsG0npoygAJkOAVlTeSRIEsAkkBMx3MEw4AApggDoAFgAaYt+Pw6-fwASmK5yycA2WxEOygewk

[2021-04-15 16:28] lexanth opened #333 "Storybook extension/query through iframe support"
## Summary 💡
I've mainly come across this tool through the chrome extension, which is great!

It would be even better if it could support being used against storybook - our stories often match the components we're trying to render in unit tests, so it would hopefully be able to suggest very relevant selectors.

I suspect the issue is because storybook embeds the actual story (which is what I want

[2021-04-20 08:18] ulisses-alves opened #334 "Applying suggestion for table cell element query yields no results"
## Bug Report 🐛

Hi there
I have a simple table structure where I wanted to select its first cell. While applying a better selector suggested by the application, it no longer selects the element.

## To Reproduce ✔️
1. Enter the following HTML
[code]
2. Enter the following selector
[code]
3. The application then suggests
[code]
4. Apply the aforementioned suggestion
5. No element is found

## Expe

[2021-05-12 17:08] melanieseltzer commented on #333
Helpful workaround in the meantime that I just learned - you can append `iframe.html` into the URL (right before the `?`) to navigate to the actual iFrame, where this extension will be able to pick things up 🙂

Using the example link: https://next--storybookjs.netlify.app/official-storybook/iframe.html?path=/story/addons-a11y-basebutton--label

<img width="800" alt="Screen Shot 2021-05-12 at 10 03

[2021-05-28 20:14] kentcdodds commented on #330
I'm seeing this as well. I've seen it on a bunch of sites. This was the latest one: https://www.prisma.io/docs/concepts/components/prisma-client/relation-queries

I'm not actively using Testing Playground on that page so I wouldn't expect to get any warnings or anything.

[2021-05-28 23:54] smeijer commented on #330
I guess we didn't hold off with the dom-testing-library update :sweat_smile:  https://github.com/testing-library/dom-testing-library/issues/785

I've pushed a new version to the chrome store that silences the `console.warn` by stubbing it out (9efc41a18a9b06e15c19e12c82028c8c30cdadd9). We might be able to fix this in a better way once https://github.com/testing-library/dom-testing-library/pull/950

[2021-05-28 23:58] smeijer commented on #330
It does bother me that it logs errors during page load, as it shouldn't be doing anything at that time. I'll take a look at that later.

[2021-05-29 00:47] smeijer commented on #330
GOT IT!

It's a single selection, but it's directly on the `<body>` element. And :drum: ... all selections also trigger the `getSnapshot` method, here:

https://github.com/testing-library/testing-playground/blob/171f367195ef0f9adadc6685882deb36a366daa2/src/lib/queryAdvise.js#L119

If the document is large, that might become an expensive operation. Hence the slowing down of the browser from OP.

Pr

[2021-05-31 09:54] smeijer commented on #330
I've shipped a second update, fixing the underlying issue (059963046844645aa9a910e8e013f07bbc902bfb). Thanks for reporting this problem! It had a bigger impact than I at first expected.

[2021-05-31 09:54] #330 closed

[2021-05-31 12:46] kentcdodds commented on #330
Sweet!

[2021-06-25 10:52] DaniBedz opened #335 "When using the Firefox and Chrome extensions in Cypress, an 'Uncaught TypeError: e.matches is not a function' is thrown"
## Bug Report 🐛

If using either the Firefox or Chrome extensions in Cypress test runner, when moving the mouse to pick elements, the following error message is thrown:

`contentScript.js:1 Uncaught TypeError: e.matches is not a function
    at Y (contentScript.js:1)
    at PP (contentScript.js:1)
    at Ai (contentScript.js:1)
    at t (contentScript.js:1)
    at contentScript.js:1
    at f (cont

[2021-07-12 13:40] eric-burel commented on #333
Hi, it would be great to autodetect a few typical frameworks (something that stays maintainable) when an iframe is present, and consider the "screen" to be this iframe and not the whole screen.
This mode could be optional (like if you are a developer of Storybook itself you might want to actually get the selector for the Storybook UI :)).

What would be required to consider an iframe as the "scree

[2021-07-12 14:17] smeijer commented on #333
I don't think we need to support a few typical frameworks. What we need to support is the following:

- support selecting and querying inside iframes
- support setting an iframe as "base frame" (so that is seen as the root)

That would add support to frameworks like Cypress and Storybook out of the box.

[2021-07-12 14:17] smeijer commented on #333
Unfortunately, I've been short on time lately. So if anyone is willing to take a stab at that, please do.

[2021-07-13 09:57] asile12 commented on #158
Hi, sorry to comment on a closed issue..
So the app I'm working on is in Japanese, so it makes no sense to have the text as a regex (Japanese doesn't have lowercase/uppercase).
Now I'm copypasting and then changing back the regex to a string, or typing by myself from the start...
I would really like to be able to copypaste.
Would a PR that makes the regex optional be welcome?  Of course I would be

[2021-07-13 11:30] smeijer commented on #158
Hi @asile12,

I'm happy to accept a pull request that adds an optional setting and defaults to the current behavior.

[2021-07-18 01:21] nickmccurdy opened #337 "Rename live branch to main"
We're moving all our repositories to use `main` as the default branch, and I'd like to rename the `develop` branch here if it doesn't impact your maintenance process too much. I wanted to submit a PR to do this, but I'm not sure how this repository gets deployed to https://testing-playground.com and https://develop.testing-playground.com, and I didn't want to break anything. If you can help me und

[2021-07-18 19:39] smeijer commented on #337
`develop` is the branch I'm merging pull requests to, and also the branch that's automatically deployed to `develop.testing-playground.com` using netlify's branch deploy feature.

`live` is the branch that is deployed to production. During active development, `develop` runs ahead of `live`, but once we reach stable, `live` is fast forwarded to the stable commit on `develop` and again automatically

[2021-07-18 19:43] smeijer commented on #337
I don't hold a strong opinion regarding semver for this repo, as we don't publish any packages. But I'm not sure how we can organize the branch management differently, and still keep it simple.

I do need two branches, because we can come in the situation where I need to hotfix production, while develop is running unstable features.

[2021-07-18 21:26] nickmccurdy commented on #337
How about we just rename `develop` to `main` then? That way the default branch name would be consistent with our other packages.

[2021-07-19 07:54] smeijer commented on #337
Then I'd lose the connection between `develop` (branch) and `develop.testing-playground.com`.

If something has to be renamed, `live` should be `main`. Because `main` branches are usually featured stable, while  `develop` is not (according to gitflow ¹)

But our "main" branch here, the one that contributors should base their PR on, must remain `develop` (I'm not comfortable with having every merge

[2021-07-19 10:28] nickmccurdy commented on #337
Ah right, I haven't used git flow in a while so I forgot it's reverted. Renaming `live` would make more sense in this case.

[2021-07-19 10:32] smeijer commented on #337
It would. But that would be quite confusing. As the brach named  `main` then doesn't reflect our main branch.

[2021-07-19 10:35] nickmccurdy commented on #337
Traditionally git flow used `master` as the stable branch (before the movement to rename it), and since GitHub and possibly git are moving to rename `master` to `main` anyway, I feel like using `main` as the stable branch still fits with git flow.

I don't have very strong opinions on this though, as the old branch name `master` isn't in use in this repository anyway, and there's a difference in r

[2021-07-23 15:22] ashleyryan opened #338 "Testing Playground Fails to find role="listitem""
## Bug Report 🐛

`screen. getByRole('listitem')` does nothing. It will correctly point out when clicking on the element that you should use ` getByRole('listitem')` but then nothing happens when you do.

## To Reproduce ✔️

https://testing-playground.com/gist/8e1c0a696406024c7ca3948328d11643/8926981ba1d5840186bdc0db0d039a90d202bd18
https://testing-playground.com/gist/8473f395e8e4cff53ad059184d268d

[2021-07-23 15:41] ashleyryan commented on #338
🤦‍♀️  It's `getAllByRole` not `getByRole`

[2021-07-23 17:05] smeijer commented on #338
Yes, it's because there are multiple `li` elements matched to the same `getByRole` query. I guess we should make the query generator smarter and let it try less optimal queries in such cases (like the `getByText`).

[2021-07-23 17:26] ashleyryan commented on #338
I think what complicates things too is that (at least locally) list items don't have a `name` so you can't even use getByRole('listitem', {name: 'blah'})

The notice makes sense, but it would be nice to get a better error message when the query doesn't work, like in this case. It looks like nothing happens (unless i'm just missing it)

[2021-07-23 18:03] smeijer commented on #338
Yeah, that makes sense. Would a message like this have been better?

Do you have any ideas/suggestions?

[2021-07-26 13:19] ashleyryan commented on #338
Yeah, a message like that would have been more helpful!

[2021-09-29 16:37] jeremyzilar commented on #333
Being able to reference elements in an iframe would be amazing.
In addition to storybook, we'd use it for Stripe payment forms.

[2022-03-31 16:22] th3fallen opened #341 "Support query-extension queries"
## Summary 💡

I would love to be able to use our queries from https://github.com/tjefferson08/query-extensions
specifically `screen.getBySelector()`

## Motivation 🔦
more over supporting other custom queries somehow would be really amazing if possible.

[2022-04-26 19:00] dimadk24 opened #342 "Extension breaks make.com app"
## Bug Report 🐛

Cannot use [make.com](https://make.com) (formelly [integromat.com](https://integromat.com/)) with testing playground extension enabled.
Pretty weird that this extension may break some websites, but it does.
Their app after login with testing playground enabled: https://imgur.com/a/te01JZZ
With testing playground disabled (off in [chrome://extensions](chrome://extensions)): https:/

[2022-04-26 21:46] coryhouse commented on #158
I know this is old and closed, but I'll leave my opinion here. I always use case sensitive queries. Here why: UX cares about casing. Designs specify casing. Since designers care about casing, my tests do too.

[2022-05-05 00:29] ughitsaaron commented on #333
@melanieseltzer Thank you for sharing this! This is a great workaround.

[2022-05-09 16:18] tbusillo opened #343 "Improve the color contrast of IconButton when used in Expandable component"
## Bug Report 🐛

*I am more than happy to submit a PR for this, but wanted to submit an issue/get any feedback prior to doing so*

There are several areas in the UI where color contrast can be improved, but one area that has the greatest impact on vision impaired *and* non-impaired users can be seen in the `Expandable` component's use of the `IconButton`.

This is an issue not just in terms of usa

[2022-05-11 13:02] elevesque-nexapp opened #344 "Firefox extension is gone"
## Bug Report 🐛

The firefox extension for testing playground appears to be gone: https://addons.mozilla.org/en-US/firefox/addon/testing-playground/

This is the link that the "Firefox Extension" button in the testing-playground.com menu links to.

## To Reproduce ✔️

Click the following link: https://addons.mozilla.org/en-US/firefox/addon/testing-playground/

## Expected behavior 🤔

You should na

[2022-05-29 17:17] smeijer commented on #341
Thanks for the suggestion. At this moment, "query-extensions" is not something I'd like to support in testing-playground.

Regarding the `getBySelector`, it sounds to me that `container.querySelector` is the same?

[2022-05-29 17:17] #341 closed

[2022-05-29 17:23] smeijer commented on #342
Hi! Thanks for the report. Is this still the case? I fail to reproduce it.

<img width="1576" alt="image" src="https://user-images.githubusercontent.com/1196524/170883300-ecd77bde-79a0-488c-94cb-79630f77ac48.png">

[2022-05-29 17:31] smeijer commented on #343
Hi @tbusillo , thanks for the extended report! I'm happy to accept a pull for this. Please choose the option that you think is best.

[2022-05-29 19:02] smeijer commented on #344
They've revoked it because:

I have [bad experiences with their review team](https://github.com/testing-library/testing-playground/pull/327#issuecomment-778046309), so I don't know what to do. If anyone is able and willing to submit a new version, and go through the review process, then let me know. I'm happy to add you to the authors in the Firefox Extension store. I'm personally not going to try

[2022-05-29 19:11] #337 closed

[2022-05-29 19:14] #304 closed

[2022-05-29 19:15] tbusillo commented on #343
@smeijer Cool! Will try to get something in this week and thank you for taking a look/being open to the change!

[2022-05-30 17:48] dimadk24 commented on #342
Yes, it works now. It seems one of the parties has fixed something. Thanks for the checking.

[2022-05-30 17:48] #342 closed

[2022-06-07 11:13] #343 closed

[2022-06-09 09:47] zaicevas opened #346 "Suggesting `getByText` over `getByLabelText`"
## Bug Report 🐛

Suggesting `getByText` over `getByLabelText`. As far as I understand, `getByLabelText` is of higher priority than `getByText`, according to https://testing-library.com/docs/queries/about/#priority

## To Reproduce ✔️

<img width="1743" alt="image" src="https://user-images.githubusercontent.com/34719980/172818498-2681e70c-f9cc-43d6-be20-ea540aac0f7a.png">

## Expected behavior 🤔

`

[2022-06-09 09:59] smeijer commented on #346
You're right. This must get fixed. Are you able to submit a pull?

[2022-06-09 13:30] jan-willem-baart opened #347 "Application in thinking state"
## Bug Report 🐛

When using a link from screen.logTestingPlaygroundURL() of @testing-library/angular the Testing-playground.com environment is empty and [this image](https://testing-playground.com/code_thinking.299ea641.png) is shown in the right two fields.

## To Reproduce ✔️

Only reproducible locally where the generated link is functional above a certain user.click function but fails below tha

[2022-06-10 09:06] jwbaart commented on #347
It magically started working again. I'll update when it happens again!

[2022-06-10 13:20] #347 closed

[2022-06-14 08:18] jwbaart commented on #347
@smeijer and they are back again. Are you able to see why it fails? https://testing-playground.com/#markup=DwEwlgbgBGILwCIBOB7FAXADAqA7A5gLQQCmSAzmCrogIwBMAdLYwKw4CGSYHhAFrBAkaCdEgCuJBAD5gqcejKEUCgDYl0s+YqTK1G2QHptSlenWbgHAA7XCAdxRIA1gGNhOwqrDl0UV6oc5OSIBIS+XIRguORkiiAycmam+pbGybpmFrIAhISErtToHNFKhLIAthzohOhoqgBGXP6BwYhVNXUojc0gXM5QHbX1TbqUBOqEqPaJ4NABQSEIAGZgqjpQq+tl4OQcDeoJldVRhbhQqOqIYBX4OAttCE

[2022-07-05 09:00] sandrosxila opened #348 "Find in Markup Code Editor"
## Summary 💡

It would be great if we had find in mark-up text feature in markup code editor.

## Examples 🌈

User clicks on markup text editor then presses ctrl + F and finds text in the markup code

## Motivation 🔦

It's very hard to find text with browser find

[2022-08-08 22:04] kevinbarabash commented on #344
Is there any way to install the extension manually using Firefox?

[2022-08-23 16:52] davidrhoderick commented on #344
So there is no more Firefox extension then?

[2022-09-09 03:27] kevinbarabash commented on #344
I tried installing the extension from source, but Firefox doesn't seem to recognize the folder as a valid extension and it doesn't provide any information about what might be wrong with it. 😞

[2022-09-20 20:22] brenocota-hotmart commented on #334
Hi @ulisses-alves how are you? :)

Actually this doesn't work because it's using a regex to find the value..
As there are two lines containing the text foo you would need to use single quotes or use getAll*

[code]
OR
[code]

[2022-09-20 21:16] smeijer commented on #334
We could fix that I guess? We currently use regex matches, and the problem is that the regex results in more than one match. We could update the regex in those cases, and see if it would match a single element if it'd include the start and end modifiers, like `/^foo$/i`.

Alternatively, we could fallback to string matchers, or even default to those. This is a good argument to use string matchers i

[2022-09-20 22:53] brenogcota commented on #334
@smeijer I think it would be interesting, although the way it works with regex is nice, maybe if we could add a clearer message that more than one match was found, the developer wouldn't be confused.

[2022-09-23 08:42] chodorowicz opened #351 "Testing Playground breaks Miro"
## Bug Report 🐛

Testing Playground breaks [Miro](https://miro.com/app/)

`Cannot read properties of undefined (reading 'startAppLoadingStep')`

https://community.miro.com/ask-the-community-45/miro-broken-when-used-with-testing-library-extension-9916

![CleanShot 2022-09-23 at 09 55 49](https://user-images.githubusercontent.com/119451/191923059-e9af5bc0-e74c-49da-ab27-6a297a9cca3f.png)

## To Repr

[2022-09-26 13:20] smeijer commented on #351
It must be one of the patched methods on `window` that's causing issues. I'm happy to accept a pull that makes it safer by namespacing or even adding it behind an init function. Something like `window.initTestingLibrary()`;

https://github.com/testing-library/testing-playground/blob/d85b47ac80a2343a921f572166360fc7d8f541c5/devtools/src/window/testing-library.js#L26-L41

[2022-10-04 19:56] smeijer commented on #348
Sorry, I'm not going to intercept the browser search functionality. If you're using testing-playground for large code samples, you might be better off using the chrome extension.

[2022-10-04 19:56] #348 closed

[2022-10-23 21:43] lsoares opened #352 "ByRole: current, expanded, and description filters not working"
It looks like `current`, `expanded`, and `description` don't work as stated in the docs. It's like the filters aren't working at all. I put the examples at the Testing Playground to test them but they don't filter as they should.

- `current`: [Docs](https://testing-library.com/docs/queries/byrole#current) | [Playground](https://testing-playground.com/gist/31ed4dd59c16f7bb96065627c3d243c8/3d97f72f

[2022-10-25 05:00] equiman opened #355 "Add extension support for Edge"
## Summary 💡

The extension is currently available only for Chrome and Firefox.
It would be possible to add it as an extension to Microsoft Edge?

[2022-10-25 13:46] MentalGear opened #356 "Dark Mode"
## Summary 💡
Dark Mode

First of: Thx for this testing library/extensions - the docs are well written, the browser extension hugely helpfully and smartly designed queries well explained. The only thing I miss as a developer, is a full dark mode. As the white background does get quite annoying at times.

Happy to help add this if you can provide some guidance.

## Examples 🌈
A full dark background,

[2022-10-28 15:55] cjoecker opened #358 "Allow custom query"
## Summary 💡

Allow configuring a custom query so that `screen.get...` can be changed.

For that, I would create two new fields in the settings panel:
`selector object` with the default value `screen`
`query prefix` with the default value `get`

![image](https://user-images.githubusercontent.com/46030630/198680492-601ab19c-d6ab-4960-b6c4-3095685ecc40.png)

## Examples 🌈

If the user can change the